<li id="cart-trigger">
  <a>
    <span class="glyphicon glyphicon-shopping-cart fs14"></span>
    <span class="cart-indicator">
      <% if @cart && @cart.get_total_items > 0 %>
        <%= @cart.get_total_items %>
      <% end %>
    </span>
  </a>
</li>
<div class="cart-widget">
  <span id="cart-widget-dismiss" class="glyphicon glyphicon-remove pointer">
  </span>
  <% if @cart == nil || @cart.get_total_items == 0 %>
    <div class="cart-widget-content">Vaša korpa je prazna.</div>
    <div class="cart-action-button">
      <a class="cart-link" href="/">Idi na katalog</a>
    </div>
  <% else %>
  <div class="cart-widget-content">
      <span>Broj proizvoda u korpi:</span>
      <span class="link-c b"><%= @cart.get_total_items %></span>
      <span>Ukupan iznos korpe:</span> 
      <span class="link-c b">
        <%= render partial: 'shared/price_format', 
                   locals: { price: @cart.get_total_price} %>
      </span>
  </div>
  <div class="cart-action-button">
    <a class="cart-link" href="/cart">Idi na korpu</a>
  </div> 
  <% end %>
  
  
</div>