<div class="col-md-12 cart-list-item">
  <div class="col-md-12 no-padding mb5">
    <%= object.product.name %>
  </div>
  <div class="col-md-6 light-text no-padding">
    <%= render partial: 'shared/price_format', 
               locals: { price: object.price} %> x <%= object.amount %>
    <% object.product.get_measure_amount %>
  </div>
  <div class="col-md-6 no-padding fs14" style="line-height: 1.2">
    = <%= render partial: 'shared/price_format', 
                 locals: { price: object.get_total_price} %> 
  </div>
</div>