<div class="cart-list-head ct col-md-12 col-sm-12 col-xs-12">
  VREDNOST KORPE
</div>
<% for item in @cart.cart_items %>
  <%= render :partial => "cart/checkout_item", :locals =>{:object => item} %>
<% end %>
<div class="col-md-12 cart-list-item">
  <div class="col-md-12  ct">
    Sveukupno:
  </div>
  <% if delivery == 'true' %>
    <div class="col-md-6 b ct mt18 fs16 no-padding">
      <%= render partial: 'shared/price_format', 
                 locals: { price: @cart.get_total_price} %>  
    </div>
    <div class="col-md-6 mt18 post-exp no-padding">
      <span>+ troškovi poštarine</span>
    </div>
    <div class="col-md-12 mt18">
      <span class="light-text">
        NAPOMENA: Za svaku kupovinu koja prelazi 3.000 RSD troškove poštarine plaćamo mi.
      </span>
    </div>
  <% else %>
    <div class="col-md-12 b ct mt18 fs16 no-padding">
      <%= render partial: 'shared/price_format', 
                 locals: { price: @cart.get_total_price} %>
    </div>
    <div class="col-md-12 mt18">
      <span class="light-text">
        Informacije o adresi i radnom vremenu našeg prodajnog mesta možete naći na 
        <%= link_to 'kontakt stranici', contact_path %>.
      </span>
    </div>
  <% end %>
</div>