<div class="cart-list-item col-md-12 col-sm-12 col-xs-12">
  <div class="col-md-2 col-sm-2 col-xs-12">
    <%= image_tag(object.chosen_image,
                  class: "image item-image cart-item-image") %>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 va-parent va-parent-height_84">
    <div class="va-child">
      <%= object.product.name %> (<%= object.color %>)
      <br>
      <span class="light-text"> 
        <span id = "cena"> 
          <%= render partial: 'shared/price_format', 
                     locals: { price: object.price} %>
        </span>  
        <% object.product.get_measure_type %>
      </span> 
    </div>
    <div class="va-helper"></div>
  </div>
  <%= form_tag "/cart/add_amount", method: :post, id: "amount_form", 
    :remote => true do %>
    <div class="col-md-2 col-sm-2 col-xs-12 ct va-parent va-parent-height_84">
      <div class="va-child">
        <%= hidden_field_tag :item,  object.id, id: "item_id" %>
        <% if object.product.piece %>
          <%= text_field_tag :amount, object.amount, 
                             class:"form-control ct b fs16 link-c tft", 
                             id: object.id, 
                             placeholder: "komada",
                             min: '1', 
                             type: 'number', 
                             step: '1' %>
        <% else %>
          <%= text_field_tag :amount, 
                             object.amount, 
                             class:"form-control ct b fs16 link-c tft", 
                             id: object.id, 
                             placeholder: "metra",
                             min: '0.5', 
                             type: 'number', 
                             step: '0.5'%>
        <% end %>
        <%= object.product.get_measure_amount %>
      </div>
      <div class="va-helper"></div>
    </div>
  <%end%>
  <div class="col-md-3 col-sm-3 col-xs-12 ct va-parent va-parent-height_84">
    <div id = "price_<%= object.id %>" class="va-child">
      <%= sprintf("%0.2f", object.get_total_price) %> RDS
    </div>
    <div class="va-helper"></div>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12 va-parent va-parent-height_84">
    <div class="va-child">
      <%= button_to controller: "cart",
                    action: "remove", 
                    id: object.product, 
                    color: object.color do %>
        <span class="glyphicon glyphicon-remove light-text cart-remove-prod">
        </span>
      <% end %>
    </div>
    <div class="va-helper"></div>
  </div>
</div>