$("#price_<%= @item.id %>").text("<%= j render partial: 'shared/price_format', 
                                             locals: { price: @item.get_total_price} %> ");
$("#tot-price").text("<%= j render partial: 'shared/price_format', 
                                 locals: { price: @cart.get_total_price} %> ");