<%= render "shared/wizard_steps", steps: [1, 0, 0], checks: [0, 0, 0] %>
<div class="alert-msgs hide-at-first col-md-12">
</div>
<div class="cart-section col-md-12 col-sm-12 col-xs-12"> <!--CART SECTION-->
    <div class="row">
        <div class="cart-list col-md-8 col-sm-12 col-xs-12">
            <div class="cart-list-head col-md-12 col-sm-12 col-xs-12 ct">
                <div class="col-md-6 col-name">
                    PROIZVOD
                </div>
                <div class="col-md-2 col-name">
                    KOLIČINA
                </div>
                <div class="col-md-3 col-name">
                    UKUPNO
                </div>
                <div class="col-md-1 col-name">
                </div>
            </div>
            <% @cart.cart_items.each do |item| %>
                <%= render "item", object: item %>
            <% end %>
        </div>
        <div class="card col-md-4 col-sm-12 col-xs-12"><!--CART TOTAL-->
            <div class="cart-list-head ct col-md-12">
                    VREDNOST KORPE
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 fs14 cart-list-item">
                <div class="col-md-4 ct">
                    Dostava:
                </div>
            <%= form_tag checkout_path do %>
                <div class="col-md-8">
                    <div class="radio">
                        <label>
                            <%= radio_button_tag :delivery, 
                                                 true, 
                                                 :checked => true %>
                                Slanje poštom
                        </label>
                    </div>
                    <div class="radio no-mb">
                        <label>
                            <%= radio_button_tag :delivery, false %>
                                Lično preuzimanje
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 cart-list-item">
                <div class="col-md-12 ct">
                    Sveukupno:
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 b mt18 ct no-padding" id="tot-price">
                    <%= render partial: 'shared/price_format', 
                               locals: { price: @cart.get_total_price} %>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 mt18 post-exp no-padding" id="post-div1">
                    <span>+ troškovi poštarine</span>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mt18">
                    <span class="light-text" id="post-div2">
                        NAPOMENA: Za svaku kupovinu koja prelazi 3.000 RSD troškove poštarine plaćamo mi.
                    </span>
                    <span class="light-text hide-at-first" id="store-div2">
                        Informacije o adresi i radnom vremenu našeg prodajnog mesta možete naći na <%= link_to 'kontakt stranici', contact_path %>.
                    </span>
                </div>
            </div>
            <div class="cart-submit-wrap col-md-12 col-sm-12 col-xs-12 ct">
                <%= button_tag type: "submit", 
                               class: "button button-submit" do %>
                    <span class='glyphicon glyphicon-repeat spin hide-at-first'>
                    </span>
                    <%= @button_text %> 
                    <span class="glyphicon glyphicon-triangle-right fs14">
                    </span>
                <% end %>
            <% end %>
           </div>
        </div>
    </div>
</div>