<%= render "shared/wizard_steps", steps: [0, 1, 0], checks: [1, 0, 0] %>
<div class="alert-msgs hide-at-first col-md-12">
</div>
<div class="cart-section col-md-12"> <!--CART SECTION-->
    <div class="row">
        <div class="col-md-8">
            <div class="cart-list-head col-md-12 ct">
                REGISTRACIJA KUPCA
            </div>
            <div class="types-of-accounts col-md-12">
                <div class="col-md-4">
                    <span id="login-btn" class="cool-link-active">
                       <div class="button button-default">
                            Uloguj se
                        </div>
                    </span>
                </div>
                <div class="col-md-4">
                    <span id="register-btn" class="cool-link">
                        <div class="button button-default">
                            Napravi novi nalog
                        </div>
                    </span>
                </div>
                <div class="col-md-4">
                    <span id="guest-btn" class="cool-link">
                        <div class="button button-default">
                            Bez registracije
                        </div>
                    </span>
                </div>
            </div>
            <%= render partial: 'users/sessions/login'%>
            <div class="hide-at-first  col-md-12" id="register-div"><!--REG FORM--> 
                <%= render partial: 'users/registrations/register'%>
            </div>
            <%=form_for :order, url: checkout_place_order_path do |f| %>
                <%= hidden_field :order, :delivery, value: @delivery %>
                <div class="hide-at-first  col-md-12" id="guest-div"><!--GUEST FORM--> 
                    <div class="col-md-12">
                        <div class="col-md-4">
                            Lični podaci:
                        </div>
                        <div class="col-md-4 radio">
                            <label>
                                <%= f.radio_button :company, 
                                                   false, 
                                                   checked: true %>
                                    Fizičko lice
                            </label>
                        </div>
                        <div class="col-md-4 radio">
                            <label>
                                <%= f.radio_button :company, true %>
                                    Pravno lice
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 hide-at-first mt18" 
                         id="guest-company">
                        <div class="col-md-4">
                            <%= f.text_field :ship_to_company_name, 
                                             autofocus: true, 
                                             class: "form-control link-c b company-register", 
                                             placeholder: "*Naziv firme" %>
                        </div>
                        <div class="col-md-4">
                        <%= f.text_field :pib, 
                                         autofocus: true, 
                                         class: "form-control link-c b company-register", 
                                         placeholder: "*PIB" %>
                        </div>         
                        <div class="col-md-4">
                            <%= f.text_field :crn, 
                                             autofocus: true, 
                                             class: "form-control link-c b", 
                                             placeholder:"*Matični broj firme company-register" %>
                        </div>    
                    </div>
                    <div class="mt18 col-md-12">
                        <div class="col-md-4">
                            <%= f.text_field :ship_to_first_name, 
                                             class:"form-control link-c b validation-order", 
                                             placeholder:"*Ime" %>
                        </div>
                        <div class="col-md-4">
                            <%= f.text_field :ship_to_last_name, 
                                             class:"form-control link-c b validation-order", 
                                             placeholder:"*Prezime" %>
                        </div>
                    </div>
                    <div class="col-md-12 mt18">
                        <div class="col-md-4">
                            <%= f.text_field :email, 
                                             class:"form-control link-c b validation-order", 
                                             placeholder:"*E-mail adresa" %>
                        </div>
                        <div class="col-md-4">
                            <%= f.text_field :phone_number, 
                                             class:"form-control link-c b validation-order", 
                                             placeholder:"*Kontakt telefon" %>
                        </div>
                    </div>
                    <% if @delivery == 'true' %>
                        <div class="col-md-12 mt18">
                            <div class="col-md-4">
                                <%= f.text_field :ship_to_address, 
                                                 class:"form-control link-c b validation-order", 
                                                 placeholder:"*Adresa za pošiljku" %>
                            </div>
                            <div class="col-md-4">
                                <%= f.text_field :ship_to_city, 
                                                 class: "form-control link-c b validation-order", 
                                                 placeholder: "*Grad" %>
                            </div>
                            <div class="col-md-4">
                                <%= f.text_field :ship_to_postal_code, 
                                                 class: "form-control link-c b validation-order", 
                                                 placeholder: "*Poštanski broj" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>  
            <div class="card col-md-4"><!--CART TOTAL-->
                <% if @cart %>
                    <%= render partial: '/cart/checkout_cart', 
                               locals: {:delivery => @delivery} %>
                    <%= hidden_field :order, :cart, value: @cart.id %>
                <% end %>
                <div class="cart-submit-wrap col-md-12 ct">
                    <%= button_tag type: "submit", 
                                   class: "button button-submit",
                                   id: "btn-order" do %>
                        <span class='glyphicon glyphicon-repeat spin hide-at-first'>
                        </span>
                        Naruči
                        <span class="glyphicon glyphicon-ok fs14"></span>
                    <% end %>
               </div>
            </div>
        <% end %>
    </div>
</div>