<%= render "shared/wizard_steps", steps: [0, 1, 0], checks: [1, 0, 0] %>
<div class="alert-msgs hide-at-first col-md-12">
</div>
<%if @user != "" %>
    <div class="cart-section col-md-12"> <!--CART SECTION-->
        <div class="row">
            <div class="col-md-8">
                <div class="cart-list-head col-md-12 ct mb22">
                    PODACI KUPCA
                </div>
                <div class="col-md-12" id="multilog-div"><!--REG FORM--> 
                    <div class="col-md-12">
                        <div class="col-md-4">
                            Lični podaci:
                        </div>
                    </div>
                    <form method="post" 
                          id="checkout" 
                          action="<%= url_for :action => :place_order %>">
                        <%= hidden_field :order, :delivery, value: @delivery %>
                        <%= hidden_field :order, 
                                         :company, 
                                         value: @user.company %>
                        <% if @user.company %>
                            <div class="col-md-12 mt18" id="guest-company">
                                <div class="col-md-4">
                                    <%= text_field :order, 
                                                   :ship_to_company_name, 
                                                   value: @company_data.company_name, 
                                                   autofocus: true, 
                                                   class: "form-control link-c b", 
                                                   placeholder: "*Naziv firme" %>
                                </div>
                                <div class="col-md-4">
                                   <%= text_field :order, 
                                                  :pib, 
                                                  autofocus: true, 
                                                  value: @company_data.pib, 
                                                  class: "form-control link-c b", 
                                                  placeholder: "*PIB" %>
                                </div>         
                            </div>
                        <% end %>
                        <div class="mt18 col-md-12">
                            <div class="col-md-4">
                                <%= text_field :order, 
                                               :ship_to_first_name, 
                                               value: @user.first_name, 
                                               class:"form-control link-c b", 
                                               placeholder:"*Ime" %>
                            </div>
                            <div class="col-md-4">
                                <%= text_field :order, 
                                               :ship_to_last_name, 
                                               value: @user.last_name, 
                                               class:"form-control link-c b", 
                                               placeholder:"*Prezime" %>
                            </div>
                        </div>
                        <div class="col-md-12 mt18">
                            <div class="col-md-4">
                                <%= text_field :order, 
                                               :email, 
                                               value: @user.email, 
                                               class:"form-control link-c b", 
                                               placeholder:"*E-mail adresa" %>
                            </div>
                            <div class="col-md-4">
                                <%= text_field :order, 
                                               :phone_number, 
                                               value: @user.phone_number, 
                                               class:"form-control link-c b", 
                                               placeholder:"*Kontakt telefon" %>
                            </div>
                        </div>
                        <div class="col-md-12 mt18">
                            <div class="col-md-4">
                                <%= text_field :order, 
                                               :ship_to_address, 
                                               value: @user.address, 
                                               class:"form-control link-c b", 
                                               placeholder:"*Adresa za pošiljku" %>
                            </div>
                            <div class="col-md-4">
                                <%= text_field :order, 
                                               :ship_to_city, 
                                               value: @user.city,  
                                               class:"form-control link-c b", 
                                               placeholder:"*Grad" %>
                            </div>
                            <div class="col-md-4">
                                <%= text_field :order, 
                                               :ship_to_postal_code, 
                                               value: @user.postal_code, 
                                               class:"form-control link-c b", 
                                               placeholder:"*Poštanski broj" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-md-4"><!--CART TOTAL-->
                    <% if @cart %>
                        <%= render partial: '/cart/checkout_cart', 
                                   locals: {:delivery => @delivery} %>
                        <%= hidden_field :order, :cart, value: @cart.id %>
                    <% end %>
                    <div class="cart-submit-wrap col-md-12 ct">
                        <%= button_tag type: "submit", 
                                       class: "button button-submit" do %>
                            <span class='glyphicon glyphicon-repeat spin hide-at-first'>
                            </span>
                            Naruči 
                            <span class="glyphicon glyphicon-ok fs14"></span> 
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </form>
                    <%else%>
                        Greska!
                    <%end%>