<%= render "shared/wizard_steps", steps: [0, 0, 1], checks: [1, 1, 1] %>
<div class="msgs success-msgs col-md-12 col-sm-12 col-xs-12 mt18">
    Vaša narudžbina je primljena!
</div>
<div class="col-md-12 col-sm-12 col-xs-12 purchase-summary">
    <div class="col-md-3 summary-block ct">
        <span>ŠIFRA NARUDŽBINE:</span><br>
        <strong><%= @order.order_number %></strong>
    </div>
    <div class="col-md-3 summary-block ct">
        <span>DATUM NARUDŽBINE:</span><br>
        <strong><%= @order.created_at.strftime('%d/%m/%Y') %></strong>
    </div>
    <div class="col-md-3 summary-block ct">
        <span>UKUPNO:</span><br>
        <strong>
        <%= render partial: 'shared/price_format', 
            locals: { price: @order.get_total_price} %>
        </strong>
    </div>
    <div class="col-md-3 summary-block ct"> <%# dodati if %>
        <span>DOSTAVA:</span><br>
        <strong><%= @order.delivery_type %></strong>
       
        
    </div>
</div>
<div class="cart-section col-md-12 col-sm-12 col-xs-12"> <!--CART SECTION-->
    <div class="row">
        <div class="col-md-4">
            <div class="cart-list-head col-md-12 col-sm-12 col-xs-12 ct ">
                PODACI KUPCA
            </div>
               <div class="mt18 col-md-12">
                <ul>
                    <% if @order.company %>
                    <li>
                        <span class="info-label">Firma: </span><%= @order.ship_to_company_name %>
                    </li>
                    <li>
                        <span class="info-label">PIB: </span><%= @order.pib %>
                    </li>
                    <li>
                        <span class="info-label">Matični broj: </span><%= @order.crn %>
                    </li>
                    <%end%>
                    <li>
                        <span class="info-label">Ime: </span><%= @order.ship_to_first_name %>
                    </li>
                    <li>
                        <span class="info-label">Prezime: </span><%= @order.ship_to_last_name %>
                    </li>
                    <li>
                        <span class="info-label">Email adresa: </span><%= @order.email %>
                    </li>
                    <li>
                        <span class="info-label">Kontakt telefon: </span><%= @order.phone_number %>
                    </li>
                    <% if @order.delivery %>
                    <li>
                        <span class="info-label">Adresa za pošiljku: </span><%= @order.ship_to_address %>
                    </li>
                    <li>
                        <span class="info-label">Grad: </span><%= @order.ship_to_city %>
                    </li>
                    <li>
                        <span class="info-label">Poštanski broj: </span><%= @order.ship_to_postal_code %>
                    </li> 
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="cart-list-head col-md-12 col-sm-12 col-xs-12 ct">
                DETALJI NARUDŽBINE
            </div>
            <% @order.order_items.each do |item| %>
            <div class="cart-list-item col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-1 product-image">
                    <%= image_tag(item.chosen_image, class: "image item-image summary-item-image") %>
                </div>
                <div class="col-md-11 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                        <%= item.get_product_name %> <%= item.color %>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 light-text no-padding">
                        <%= render partial: 'shared/price_format', 
                            locals: { price: item.price} %>
                         x <%= item.amount %> <%= item.get_product_measure %>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 light-text tar" style="line-height:1">
                        = <%= render partial: 'shared/price_format', 
                              locals: { price: item.get_total_price} %>
                    </div>
                </div>
            </div>
            <% end %>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-12 pull-right summary-box">
                    <span class="light-text fs16">UKUPNO:</span>
                    <br>
                    <strong class="fs20"> 
                    <%= render partial: 'shared/price_format', 
                        locals: { price: @order.get_total_price} %>
                    </strong>
                    <br>
                    <% if @order.delivery_type == true %>
                    <span class="light-text">+ troškovi poštarine</span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>