<%= form_for(@subcategory) do |f| %>
  <div class="col-md-offset-4 col-md-4 mt18">
    <div class="col-md-12 mt18">
      <span class="input-label">ime:</span>
        <%= f.text_field :name, 
                         class: "form-control fs16 link-c b validation-sub", 
                         placeholder: "Ime kategorije"%>
    </div>
    <div class="col-md-12 mt18">
      <span class="input-label mb5">kategorija:</span>
      <%= f.collection_select :category_id, @categories, :id, :name, 
                              prompt: true, 
                              class:"col-md-12 dropdown" %>
    </div>
    <div class="cart-submit-wrap col-md-12 ct mt18">
      <%= button_tag(class: "button button-submit pointer", id: "btn-sub") do %>
        <span class='glyphicon glyphicon-repeat spin hide-at-first'></span> 
        Sačuvaj kategoriju
      <% end %>
    </div>
  </div>
<% end %>