<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
Dodaj novu kategoriju
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
          <%=form_for(:subcategory, url: subcategories_create_path) do |form| %>
       <div class="field">
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </div>
      <div class="field">
        <%= form.label :category_id, 'Category' %><br>
        <%= form.collection_select :category_id, Category.all, :id, :name, prompt: true %>
      </div>
      <%= form.submit %>
       <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
        
      </div>
     
    </div>
  </div>
</div>
  