<p id="notice"><%= notice %></p>
<div class="col-md-12 col-sm-12 col-xs-12 ct page-head-sm">
    <h3>Lista kategorija</h3>
</div>
<% @subcategories.each do |sub| %>
<div class="cart-list-item list-item sub-item col-md-12 col-sm-12 col-xs-12"> 
   <div class="col-md-7 col-sm-12 col-xs-12">
       <%= link_to edit_subcategory_path(sub) do %>
        <span class="link-c b pointer ellipsis"><%= sub.name.force_encoding("UTF-8") %></span>
        <% end %>
   </div>
   <div class="col-md-3 col-sm-12 col-xs-12 ct light-text mt4">
       <%= sub.get_category_name %> 
   </div>
   <div class="col-md-2 col-sm-12 col-xs-12 ct">
        <%= link_to edit_subcategory_path(sub) do %>
        <span class="glyphicon glyphicon-pencil pointer link mr40" ></span> 
        <% end %><!--dodaj mr40 u css-->
        <span class="glyphicon glyphicon-trash pointer link" data-toggle="modal" data-target="#btn-remove-prod<%=sub.id%>"></span>
   </div>
</div>
 <!-- Delete subcategory modal -->
<div class="modal fade" id="btn-remove-prod<%=sub.id%>" tabindex="-1" role="dialog" aria-labelledby="btn-remove-prod">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title ct" id="btn-remove-prod">Brisanje kategorije</h4>
      </div>
      <div class="modal-body ct">
           Da li ste sigurni da želite da obrišete?
           </br>
           <span class="link-c b"><%= sub.name %></span> 
      </div>
      <div class="modal-footer">
         <%= button_to 'Obriši', sub, method: :delete, class: "btn btn-danger", form_class: 'inline' %>
         <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
      </div>
    </div>
  </div>
</div>
 <% end %>
<div class="col-md-12">
    <div class="col-md-offset-9 col-md-3 col-sm-3 col-xs-12 mt18 ct">
      <%= link_to  new_subcategory_path, class: "action-button"  do %>
            <span class="glyphicon glyphicon-plus" style="font-size:10px"></span> Dodaj kategoriju
        <% end %>
    </div>
</div>


<div class="col-md-12 col-sm-12 col-xs-12 ct">
    <%= will_paginate @subcategories, :previous_label => '<span class="glyphicon glyphicon-arrow-left"></span> Prethodna', :next_label => 'Sledeća <span class="glyphicon glyphicon-arrow-right"></span>' %>
</div>