<div id="login-forms"><!--LOGIN FORM-->
  <div id="login-div">
    <%= form_for resource, as: resource_name, 
                           url: session_path(resource_name) do |f| %>
      <%= hidden_field_tag 'flag', @flag %>
      <% if resource.errors[:email].present? %>
        <%= resource.errors[:email].join(', ') %>
      <% end %>
      <div id="log" class="col-md-offset-3 col-md-6"> 
        <div class="group-material mt18 col-md-12">
          <%= f.email_field :email, 
                            autofocus: false, 
                            class: "form-control input-material validation-login", 
                            #placeholder: "E-mail adresa",
                            required: true%>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>E-mail adresa</label>
        </div>
        <div class="group-material mt18 col-md-12">
          <%= f.password_field :password, 
                               class: "form-control input-material validation-login", 
                               #placeholder: "Lozinka",
                               required: true %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Lozinka</label>
        </div>
          <%= button_tag(class: "button button-submit pointer ct mt18", 
                         id: "btn-login") do %>
            <span class='glyphicon glyphicon-repeat spin hide-at-first'></span> 
              Uloguj se
          <% end %> 
        <div class="mt18">
          <span class="mt18 link pointer" id="request-new-pass">
            Zaboravili ste lozinku?
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <%= render partial: 'users/passwords/forgot_password'%>
</div>
