<div class="modal fade" id="admin-modal" tabindex="-1" role="dialog" aria-labelledby="admin-modallabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title ct" id="admin-modallabel">Administrator</h4>
      </div>
      <div class="modal-body">
        <div class="row pdg5">
          <div class="col-md-6 pdg5">
            <%= link_to orders_path do %>
            <div class="box-links">
            <span class="glyphicon glyphicon-euro box-icon"></span>
            NARUDŽBINE
          </div>
          <%end%>
        </div>
          <div class="col-md-6 pdg5">
            <%= link_to products_path do %>
            <div class="box-links">
            <span class="glyphicon glyphicon-scissors box-icon"></span>
            PROIZVODI
          </div>
          <%end%>
        </div>
          <div class="col-md-6 pdg5">
            <%= link_to subcategories_path do %>
            <div class="box-links">
            <span class="glyphicon glyphicon-th-list box-icon"></span>
            KATEGORIJE
          </div>
          <%end%>
        </div>
          <div class="col-md-6 pdg5">
            <%= link_to destroy_user_session_path, method: :delete do%>
            <div class="box-links">
            <span class="glyphicon glyphicon-log-out box-icon"></span>
            IZLOGUJ SE
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>