<% flash.each do |name, msg| %>
  <% name == 'alert' ? name='danger':''%>
  <% name == 'notice' ? name='info':'' %>
  <%= content_tag :div, class: "col-md-12 alert alert-" + name, id: 'flash' do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= msg %>
  <% end %>
<% end %>