<div class="side-menu-shade"></div>
<div id="side-menu" class="scrollbar"><!--Side menu start------------------------------------------------->
  <div class="menu-search-wrap b-line">
    <span class="search-btn-gl glyphicon glyphicon-search"></span>
      <%= form_tag( "/", method: :get, name: "search_form", style:"display:inline-block") do %>
        <%= render partial: 'shared/search' %>
      <% end %>
  </div>
  <% Category.get_all.each do |cat|%>
    <div id="m-cat-<%= cat.id %>" class="menu-option-wrap">
      <%= cat.name %>
      <span class="glyphicon glyphicon-triangle-right pull-right light-text"></span>
    </div>
    <ul id="m-menu-<%= cat.id %>" class="m-submenu">
      <% cat.subcategories.each do |sub|%>
        <li>
          <%= link_to root_path(:sub => sub.id) do %> 
          <%= sub.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% unless current_user %>
    <div class="menu-option-wrap t-line">
      <span class="glyphicon glyphicon-user light-text mr6"></span>
      <a href="/home/registration">Registracija</a>
    </div>
  <% end %>
  <% if current_user %>
    <% if current_user.admin %>
    <div class="menu-option-wrap t-line">
      <span class="glyphicon glyphicon-user light-text mr6"></span>
      <a data-toggle="modal" data-target="#admin-modal" class="close-menu">Admin</a>
      <span class="my-account-name">~ <%= get_username %></span>
    </div>
    <% else %>
    <div class="menu-option-wrap t-line">
      <span class="glyphicon glyphicon-user light-text mr6"></span>
      <a data-toggle="modal" data-target="#user-modal" class="close-menu">Moj Nalog</a>
      <span class="my-account-name">~ <%= get_username %></span>
    </div>
    <% end %>
  <% end %>
  <div class="menu-option-wrap t-line b-line">
    <a href="/contact" >Kontakt</a>
  </div>
</div>
<nav class="navbar nav navbar-fixed-top <%= set_home_class('transparent-nav') %>"><!--Navbar start------------------------------------->
  <div class="container nav-container">
    <div id="menu-icon" class="col-sm-4 col-xs-4 mobile-nav-icons pointer">
      <span class="glyphicon glyphicon-menu-hamburger "></span>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-4 full-height logo-wrap">
      <%= link_to root_path, class:"navbar-brand " + set_home_class('invert-navbar-brand') do %> 
        KAŠMIR<span class="logo2 <%= set_home_class('invert-logo2') %>">metraža</span>
      <% end %>
    </div>
    <div class="col-sm-4 col-xs-4 mobile-nav-icons">
      <a class="pull-right" href="/cart">
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </a>
    </div>
    <div class="col-md-6 nav-section">
      <ul>
      <% Category.get_all.each do |cat|%>
        <li class="capstext cool-link" id="cat-<%= cat.id %>">
            <%= link_to root_path(:cat => cat.id) do %><%= cat.name %><% end %>
            <div id="menu-<%= cat.id %>" class="catalog-menu">
              <div class="fluid-container">
                <div class="row">
                  <div class="col-md-12 menu-section">
                      <% count = 0 %>
                      <% total_subs = sub_per_column(cat.id) %>
                      <% cat.subcategories.each do |sub|%>
                      <% if count % total_subs == 0 %>
                        <div class="col-md-4">
                          <ul>
                      <% end %>
                            <li>
                              <%= link_to root_path(:sub => sub.id) do %> 
                              <%= sub.name %>
                              <% end %>
                            </li>
                      <% if count % total_subs == total_subs -  1%>
                          </ul>
                        </div>
                      <% end %>
                      <% count += 1%>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
        </li>
      <% end %>
      </ul>
    </div>
      <div class="col-md-3 nav-section">
      <ul class="navbar-right">
        <% unless current_user %>
        <li><a href="/home/registration">Registracija</a></li>
        <% end %>
        <% if current_user %>
          <% if current_user.admin %>
        <li class='hide-cat pointer'><a data-toggle="modal" data-target="#admin-modal">Admin</a></li> 
        <% else %>
        <li class="hide-cat pointer"><a data-toggle="modal" data-target="#user-modal">Moj Nalog</a></li>
        <% end %>
        <% end %>
        <li><a href="/contact" >Kontakt</a></li>
        <li id="search-trigger">
          <a>
            <span class="glyphicon glyphicon-search fs14">
          </a>
        </li>
        <div class="search-box">
          <span class="search-btn-gl glyphicon glyphicon-search"></span>
            <%= form_tag( "/", method: :get, name: "search_form", style:"display:inline-block") do %>
              <%= render partial: 'shared/search' %>
            <% end %>
        </div>
        <%= render partial: 'cart/cart' %>
        
      </ul>
      </div>
  </div>
</nav> <!--Navbar end-->