<% if price % 1 == 0 %>
    <%= number_with_precision(price, delimiter: '.', precision: 0) %> RSD
<% else %>
    <%= number_with_precision(price, delimiter: '.', precision: 2, separator: ',') %> RSD
<% end %>