<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="user-modallabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <% if current_user %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
        <h4 class="modal-title ct" id="user-modallabel"><%= current_user.get_full_name%></h4>
      </div>
      
      <div class="modal-body">
        <div class="row pdg5">
          <div class="col-md-6 pdg5">
            <%= link_to edit_user_registration_path(current_user.id) do %>
            <div class="box-links">
              <span class="glyphicon glyphicon-user box-icon"></span>
              MOJI PODACI
            </div>
            <%end%>
          </div>
          <div class="col-md-6 pdg5">
            <%= link_to my_orders_path do %>
              <div class="box-links">
              <span class="glyphicon glyphicon-shopping-cart box-icon"></span>
              MOJE NARUDŽBINE
            </div>
            <%end%>
          </div>
          <div class="col-md-12 pdg5">
            <%= link_to destroy_user_session_path, method: :delete do%>
              <div class="box-links">
              <span class="glyphicon glyphicon-log-out box-icon"></span>
              IZLOGUJ SE
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
          </div>