<div class="page-head-sm col-md-12 col-sm-12 col-xs-12">
   <span class="col-md-4 col-sm-4 col-xs-12 <%= steps[0] == 1 ? 'current-page':'non-current-page' %>">1. Korpa 
       <% if checks[0] == 1 %>
           <span class="glyphicon glyphicon-ok fs20"></span>
       <% end %>
   </span> 
   <span class="col-md-4 col-sm-4 col-xs-12 <%= steps[1] == 1 ? 'current-page':'non-current-page' %>">2. <%= @step_text %> 
   <% if checks[1] == 1 %>
           <span class="glyphicon glyphicon-ok fs20"></span>
       <% end %>
   </span> 
   <span class="col-md-4 col-sm-4 col-xs-12 <%= steps[2] == 1 ? 'current-page':'non-current-page' %>">3. Potvrda kupovine 
   <% if checks[2] == 1 %>
           <span class="glyphicon glyphicon-ok fs20" style="color:rgba(67, 177, 67, 0.78)"></span>
       <% end %>
    </span>
</div>