<div class="page-head-sm col-md-12">
    <h3>Kontaktirajte nas</h3>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <div class="col-md-12 cart-list-head ct">
            POZOVITE NAS ILI NAS POSETITE
        </div>
        <div class="col-md-12">
            <div class="contact-box light-text">
                <div> Svetosavska 79, Novi Banovci </div>
                <div> Radnim danom: 08h do 20h </div>
                <div> Subotom: 08h do 15h </div>
                <div> Telefon: <a href="#" class="link ">061 6052 - 164</a> </div>
            </div>
            <div id="map">
            </div>
        </div>         
    </div> 
    <div class="col-md-6">
        <div class="col-md-12 cart-list-head ct">
            POSTAVITE NAM PITANJE
        </div>
        <div class="col-md-8 col-md-offset-2 mt18">
            <%= form_tag url_for(:controller => 'home', :action => 'send_mail'), 
             id: "contact_us" do %>
                <%= email_field_tag :email, '', 
                        autofocus: true, 
                        class: "form-control mt18", 
                        placeholder: "*Vaša email adresa",
                        required: true,
                        :oninvalid => "setCustomValidity('Email mora imati @')", 
                        :oninput => "setCustomValidity('')" %>
                <%= text_field_tag :subject, '',
                       autofocus: true, 
                       class: "form-control mt18", 
                       placeholder: "*Predmet poruke" %>
                <%= text_area_tag :comments, '', rows: 5, cols: 51, 
                    placeholder:'Tekst poruke...', 
                    class:'scrollbar form-control textarea-control mt45' %> 
                <div class="mt45 ct">
                    <%= button_tag(class: "button button-submit pointer", 
                        id: "btn-product") do %>
                        <span class='glyphicon glyphicon-repeat spin hide-at-first'>
                        </span> 
                        Pošalji
                    <% end %>
                </div>
            <% end %> 
        </div>
      </div>
    </div>
</div>

<script>
        function initMap() {
            var kasmir = {lat: 44.958565, lng: 20.281090};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: kasmir
            });
            var marker = new google.maps.Marker({
                position: kasmir,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz8hNuyeauvI1dgJiPUU6nK47NyOUAHMM&callback=initMap">
    </script>