<div class="col-md-12 ct page-head-sm">
    <h3>Uloguj se ili napravi nalog</h3>
</div>
<% if @flag %>
<%= render "shared/flash_notice" %>
<% end %>
<%= hidden_field_tag 'option', @option %>
<div class="col-md-8 col-md-offset-2">
    <div class="types-of-accounts col-md-12">
        <div class="col-md-6">
            <span id="login-btn" class="cool-link-active">
               <div class="button button-default">
                    Uloguj se
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <span id="register-btn" class="cool-link">
                <div class="button button-default">
                    Napravi novi nalog
                </div>
            </span>
        </div>
    </div>
    <%= render partial: 'users/sessions/login'%>
    <div class="hide-at-first  col-md-12" id="register-div"><!--REG FORM--> 
        <%= render partial: 'users/registrations/register'%>
    </div>
</div> 