<div class="page-head-sm col-md-12">
    <h3>Lista narudžbina</h3>
</div>
<div class="col-md-12">
    <div class="col-md-3 dropdown ">
        <span class="dropdown-toggle" type="button" data-toggle="dropdown">
            <span id="sort"><%= @dropdown_sort %> </span><span class="caret"></span>
        </span>
        <ul id="menu" class="dropdown-menu scrollbar">
            <li class="divider"></li>
            <li><%= link_to 'Najskoriji', link_to_orders(:sort, 'latest'), class:"ellipsis dropdown-menu-a" %>
            </li>
            <li><%= link_to 'Najstariji', link_to_orders(:sort, 'oldest'), class:"ellipsis dropdown-menu-a" %>
            </li>      
            <li class="divider"></li>
        </ul>
    </div>
    <div class="col-md-3 col-md-offset-3 dropdown">
        <span class="dropdown-toggle status-toggle" type="button" data-toggle="dropdown">
            <span id="filter-status"><%= @dropdown_filter %></span><span class="caret"></span>
        </span>
        <ul id = "menu-status" class="dropdown-menu scrollbar">
            <li class="divider"></li>
            <li><%= link_to 'Svi statusi', link_to_orders(:filter, 'all'), class:"ellipsis dropdown-menu-a status" %>
            </li>
            <li><%= link_to 'U pripremi', link_to_orders(:filter, 'U pripremi'), class:"ellipsis dropdown-menu-a status" %>
            </li>
            <li><%= link_to 'Poslato', link_to_orders(:filter, 'Poslato'), class:"ellipsis dropdown-menu-a status" %>
            </li>
            <li><%= link_to 'Plaćeno', link_to_orders(:filter, 'Plaćeno'), class:"ellipsis dropdown-menu-a status" %>
            </li>
            <li><%= link_to 'Vraćeno', link_to_orders(:filter, 'Vraćeno'), class:"ellipsis dropdown-menu-a status" %>
            </li>
            <li class="divider"></li>   
        </ul>
    </div>
    <div class="col-md-3">
        <%= form_tag( "/orders", method: :get, name: "search_form") do %>
            <%= text_field_tag :search, @search, class: 'form-control clearable', placeholder: 'Pretraži narudžbine...' %>
            <%= hidden_field_tag :filter, @filter %>
            <%= hidden_field_tag :sort, @sort %>
            <%#<%= submit_tag "Search" %>
        <% end %>
        
    </div>
</div>
<div class="cart-list-head col-md-12 mt18">
    <div class="col-md-2 ct">
        KUPAC
    </div>
    <div class="col-md-2 ct">
        DATUM 
    </div>
    <div class="col-md-2 ct">
        DOSTAVA
    </div>
    <div class="col-md-2 ct">
        KORPA
    </div>
    <div class="col-md-2 ct">
        ŠIFRA
    </div>
    <div class="col-md-2 ct">
        STATUS
    </div>
</div>
<% @orders.each do |order| %>
<div class="cart-list-item col-md-12 ct order-item list-item mouse ">
    <div class="col-md-2 b">
        <span class="under-link pointer ellipsis" data-toggle="modal" data-target="#buyer<%= order.id %>" title='<%= order.ship_to_first_name %> <%= order.ship_to_last_name %>'>
            <%= order.ship_to_first_name %> <%= order.ship_to_last_name %>
        </span>
        <span class="light-text" title="<%= order.email %>">
            <%= order.email %>
        </span>
    </div>
    <div class="col-md-2 mt11">
        <%= order.created_at.strftime('%d/%m/%Y') %>
    </div>
    <div class="col-md-2 mt11">
        <%= order.delivery_type %>
    </div>
    <div class="col-md-2 mt11 b">
        <span class="under-link pointer" data-toggle="modal" data-target="#cartItem<%= order.id %>">
            <%= render partial: 'shared/price_format', locals: { price: order.get_total_price} %>
        </span>
    </div>
    <div class="col-md-2 mt11">
        <%= order.order_number %>
    </div>
    <div class="col-md-2 b mt7">
        <div class="os-label pointer" data-toggle="modal" data-target="#status<%= order.id %>" id="stat-btn<%= order.id %>">
            <%= order.status %>
           <span class="hide-at-first glyphicon glyphicon-pencil fs12" id="pen-glyph<%= order.id %>"></span>
        </div>
    </div>
</div>

<!-- Buyer Modal -->
<div class="modal fade" id="buyer<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="buyerLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title ct" id="buyerLabel"><%= order.ship_to_first_name %> <%= order.ship_to_last_name %></h4>
      </div>
      <div class="modal-body">
            <ul>
                <% if order.company %>
                <li>
                    <span class="info-label">Firma: </span><span class="b"><%= order.ship_to_company_name %></span>
                </li>
                <li>
                    <span class="info-label">PIB: </span><span class="b"><%= order.pib %></span>
                </li>
                <% end %>
                <li>
                    <span class="info-label">Email adresa: </span><span class="b"><%= order.email %></span>
                </li>
                <li>
                    <span class="info-label">Adresa za pošiljku: </span><span class="b"><%= order.ship_to_address %></span> 
                </li>
                <li>
                    <span class="info-label">Grad: </span><span class="b"><%= order.ship_to_city %></span>
                </li>
                <li>
                    <span class="info-label">Poštanski broj: </span><span class="b"><%= order.ship_to_postal_code %></span>
                </li> 
                <hr>  
                <li>
                    <span class="info-label">Kontakt telefon: </span><span class="b fs20 under-link">
                        <a href="tel:060 4373631"><%= order.phone_number %></a></span>
                </li>
            </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
      </div>
    </div>
  </div>
</div>
<!-- Cart Modal -->
<div class="modal fade" id="cartItem<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="cartItemLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title ct" id="cartItemLabel">Detalji narudžbine</h4>
      </div>
      <div class="modal-body">
          <div class="row b-line">
              <div class="col-md-12 col-xs-12 pb10 light-text tar">
                  Datum: <%= order.created_at.strftime('%d/%m/%Y') %>
              </div>
          </div>
          <div class="row">
              <% order.order_items.each do |item| %>
              <div class="col-md-12 col-xs-12 modal-item">
                  <div class="col-md-12 col-xs-12 ellipsis no-padding">
                      <span class="b"><a href="#" class="link"> <%= item.get_product_name %> (<%= item.color %>) </a></span>
                  </div>
                  <div class="col-md-6 col-xs-6 light-text no-padding">
                      <%= render partial: 'shared/price_format', 
                          locals: { price: item.price} %>
                      x <%= item.amount %> <%= item.get_product_measure %>
                  </div>
                  <div class="col-md-6 col-xs-6 no-padding" style="line-height: 1.2">
                      = <%= render partial: 'shared/price_format', 
                            locals: { price: item.get_total_price} %>
                  </div>
              </div> 
              <% end %>
              <div class="col-md-12 col-md-xs modal-total mt18">
                  <div class="col-md-12 col-xs-12 pb10 tar">
                      <span class="fs20 b link-c">
                          <%= render partial: 'shared/price_format', locals: { price: order.get_total_price} %>
                      </span>
                  </div>
              </div>
          </div>   
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
      </div>
    </div>
  </div>
</div>
<!-- Status Modal -->
<div class="modal fade" id="status<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="statusLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title ct" id="statusLabel">Status pošiljke</h4>
      </div>
      <div class="modal-body">
          <div class="row b ct">
              <div class="col-md-12 mt18 status-wrap">
                  
                      
                      <%= link_to update_order_path(:id => order.id, :status => 'U pripremi', :sort => @sort, :filter => @filter, :page => @page), method: :post do %>
                      <div class="os-label os-label-orange os-label-dim modal-status<%= order.id %>">
                      <span class='glyphicon glyphicon-repeat spin hide-at-first'></span>U pripremi
                      </div>
                      <% end %>
                  
              </div>
              <div class="col-md-12 mt18 status-wrap">
                  
                      <%= link_to update_order_path(:id => order.id, :status => 'Poslato', :sort => @sort, :filter => @filter, :page => @page), method: :post do %>
                  <div class="os-label os-label-blue os-label-dim modal-status<%= order.id %>">
                      <span class='glyphicon glyphicon-repeat spin hide-at-first'></span>Poslato
                  </div>
                  <% end %>
              </div>
              <div class="col-md-12 mt18 status-wrap">
                    
                    <%= link_to update_order_path(:id => order.id, :status => 'Plaćeno', :sort => @sort, :filter => @filter, :page => @page), method: :post do %>
                    <div class="os-label os-label-green os-label-dim modal-status<%= order.id %>">
                      <span class='glyphicon glyphicon-repeat spin hide-at-first'></span>Plaćeno
                    </div>
                    <% end %>
              </div>
              <div class="col-md-12 mt18 status-wrap">
                  
                <%= link_to update_order_path(:id => order.id, :status => 'Vraćeno', :sort => @sort, :filter => @filter, :page => @page), method: :post do %>
                  <div class="os-label os-label-red os-label-dim modal-status<%= order.id %>">
                      <span class='glyphicon glyphicon-repeat spin hide-at-first'></span>Vraćeno
                  </div>
                  <% end %>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="col-md-12 ct">
    <%= will_paginate @products, :previous_label => '<span class="glyphicon glyphicon-arrow-left"></span> Prethodna', :next_label => 'Sledeća <span class="glyphicon glyphicon-arrow-right"></span>' %>
</div>
