<div class="page-head-sm col-md-12">
    <h3>Moje narudžbine</h3>
</div>
<div class="cart-list-head col-md-12 mt18">
    <div class="col-md-4 ct col-name">
        KORPA
    </div>
    <div class="col-md-2 ct col-name">
        DATUM 
    </div>
    <div class="col-md-2 ct col-name">
        DOSTAVA
    </div>
    <div class="col-md-2 ct col-name">
        ŠIFRA
    </div>
    <div class="col-md-2 ct col-name">
        STATUS
    </div>
</div>
<% @orders.each do |order|%>
<div class="cart-list-item col-md-12 ct order-item mouse list-item">
    <div class="col-md-4 b mt4">
        <span class="under-link pointer" data-toggle="modal" data-target="#cartItem<%= order.id %>">
            <%= render partial: 'shared/price_format', 
                locals: { price: order.get_total_price} %>    
        </span>
    </div>
    <div class="col-md-2 mt4">
        <%= order.created_at.strftime('%d/%m/%Y') %>
    </div>
    <div class="col-md-2 mt4">
        <%= order.delivery_type %>
    </div>
    <div class="col-md-2 mt4">
        <%= order.order_number %>
    </div>
    <div class="col-md-2 b">
        <div class="os-label">
        <%= order.status %> 
        </div>
    </div>
</div>
<!-- Cart Modal -->
<div class="modal fade" id="cartItem<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="cartItemLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title ct" id="cartItemLabel">Detalji narudžbine</h4>
      </div>
      <div class="modal-body">
          <div class="row b-line">
              <div class="col-md-12 col-xs-12 pb10 light-text tar">
                  Datum: <%= order.created_at.strftime('%d/%m/%Y') %>
              </div>
          </div>
          <div class="row">
              <% order.order_items.each do |item| %>
              <div class="col-md-12 col-xs-12 modal-item">
                  <div class="col-md-12 col-xs-12 ellipsis no-padding">
                      <span class="b">
                          <a href="#" class="link"> 
                      <%= item.get_product_name %> (<%= item.color %>)
                          </a>
                          </span>
                  </div>
                  <div class="col-md-6 col-xs-6 light-text no-padding">
                      <%= render partial: 'shared/price_format', 
                          locals: { price: item.price} %>
                       x <%= item.amount %> <%= item.get_product_measure %>
                  </div>
                  <div class="col-md-6 col-xs-6 no-padding tar" style="line-height: 1.2">
                      = <%= render partial: 'shared/price_format', 
                            locals: { price: item.get_total_price} %>
                  </div>
              </div> 
              <% end %>
              <div class="col-md-12 col-md-xs modal-get_total_price mt18">
                  <div class="col-md-12 col-xs-12 pb10 tar">
                      <span class="fs20 b link-c">
                          <%= render partial: 'shared/price_format', 
                              locals: { price: order.get_total_price} %>
                      </span>
                  </div>
              </div>
          </div>   
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
      </div>
    </div>
  </div>
</div>
<% end %>