<% @products.each do |product| %>
    <div class="col-md-4 mt18"><!--ITEM-->
        <div class="col-md-12 item-card">
            <% if product.attachments %>
                <div class="col-md-12 no-padding">
                    <ul class="lightSlider">
                        <% product.attachments.each do |item| %>
                            <li data-thumb="<%= item.image.url(:thumb) %>" 
                                class="relative">
                                <%= image_tag item.image.url(:large), 
                                              class: "image" %>
                                <% unless item.available%>
                                    <div class="out-of-stock_img-label">
                                        Trenutno nema na lageru
                                    </div>
                                <% end %>
                            </li>
                        <%end%>
                    </ul>
                </div>
            <% end %>
            <%= link_to catalog_show_path(:id => product), 
                        class: "pointer" do %>
                <div class="col-md-12 cat-card-details">
                    <div class="va-child">
                        <span class="fs20 d-block">
                            <%= product.name %>
                        </span>
                        <span class="fs14 d-block">
                            <%= render partial: 'shared/price_format', 
                                       locals: { price: product.price} %> 
                            <span class="lw fs14">
                                <%= product.get_measure_type %>
                            </span>
                        </span>
                    </div>
                    <div class="va-helper"></div>
                </div>
            <% end %>
        </div>
    </div><!--ITEM END-->
<% end %>
   