$("#products").html("<%= j render('products') %>");
$('.item-card').hover(function(){
        $(this).find('.cat-card-details').toggleClass('card-details-btn');
    });
// SLIDER STUFF
     $('#lightSlider').lightSlider({
        gallery: true,
        item: 1,
        loop: false,
        slideMove: 1,
        slideMargin: 0,
        enableDrag: true,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 800,
        thumbItem: 8,
        responsive: [{
            breakpoint: 800,
            settings: {
                item: 1,
                slideMove: 1,
                slideMargin: 6,
            }
        }, {
            breakpoint: 480,
            settings: {
                item: 1,
                slideMove: 1
            }
        }]
    });
    
    $('.lightSlider').each(function() {
        $(this).lightSlider({
            gallery: true,
            item: 1,
            loop: false,
            slideMove: 1,
            slideMargin: 0,
            enableDrag: true,
            easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            speed: 800,
            thumbItem: 8,
            responsive: [{
                breakpoint: 800,
                settings: {
                    item: 1,
                    slideMove: 1,
                    slideMargin: 6,
                }
            }, {
                breakpoint: 480,
                settings: {
                    item: 1,
                    slideMove: 1
                }
            }]
        });
    });
