<div class="col-md-12 page-head-sm">
    <h3><%= @category_title %></h3> 
</div>
<% if !no_products %>
    <div class="col-md-12">
        <div class="col-md-3 dropdown">
            <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                <span id="filter">Sortiraj</span>
                <span class="caret"></span>
            </span>
            <ul id="menu" class="dropdown-menu scrollbar">
                <li class="divider"></li>     
                <li>
                    <%= link_to 'Po ceni (najniža)', 
                                sort('asc'), 
                                class:"ellipsis dropdown-menu-a", 
                                remote: true %>
                </li>
                <li>
                   <%= link_to 'Po ceni (najviša)', 
                               sort('desc'), 
                               class:"ellipsis dropdown-menu-a", 
                               remote: true %> 
                </li>
            </ul>
        </div>
    </div>
<% end %>
<div id = "products" class="col-md-12 no-padding mt18"> <!--ITEM LIST-->
    <%= render "products" %>
    <% if no_products %>
        <div class="product-null-state">
            <span class="glyphicon glyphicon-book d-block mb22"></span>
            Trenutno nema proizvoda pod ovom kategorijom
        </div>
    <% end %>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 ct">
    <%= will_paginate @products, 
                      previous_label:'<span class="glyphicon glyphicon-arrow-left"></span>', 
                      next_label: '<span class="glyphicon glyphicon-arrow-right"></span>' %>
</div>