<%= form_tag url_for(:controller => 'cart', :action => 'add'), 
             id: "add_to_cart_form" do %>
    <%= hidden_field :product, :id, value: @product.id  %>
    <%= hidden_field_tag :color %>
    <div class="col-md-6 mt45 ">
        <ul class="lightSlider">
            <% @product.attachments.each do |item| %>
                <li data-thumb="<%= item.image.url(:large) %>" class="relative">
                    <%= image_tag item.image.url(:large), 
                                  class: "image", 
                                  alt: item.get_file_name() %>
                    <% unless item.available %>
                        <div class="out-of-stock_img-label" 
                             id="<%= item.get_file_name_underscore() %>">
                            Trenutno nema na lageru
                        </div>
                    <% end %>
                </li>
            <%end%>
        </ul>
    </div>
    <div class="col-md-6 mt45">
        <div class="col-md-12 ct mb22">
            <h3 class="item-title">
                <%= @product.name %>
            </h3>
            <h4>
                <div class="fs20 lw">
                    <span id="price">
                        <%= render partial: 'shared/price_format', 
                                   locals: { price: @product.price} %>
                    </span>
                    <span class="light-text fs18 "> 
                        <%= @product.get_measure_type %>
                    </span>
                </div>
            </h4>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 choose-box">
                Izabrana nijansa:
                </br>
                <div id="chosen" class="link-c b mt18 ellipsis"></div>
            </div>
            <div class="col-md-6 choose-box">
                Unesite količinu:
                </br>
                <% if @product.piece %>
                    <%= text_field_tag :amount, 
                                       '1', 
                                       class:"form-control ct atc-input link-c b mt18 fs18", 
                                       id: 'amount', placeholder: "komada",
                                       min: '0', 
                                       type: 'number', 
                                       step: '1'%>
                <% else %>
                <%= text_field_tag :amount, 
                                   '1', 
                                   class:"form-control ct atc-input link-c b mt18 fs18", 
                                   id: 'amount', 
                                   placeholder: "metara",
                                   min: '0', 
                                   type: 'number', 
                                   step: '0.5'%>
                <% end %>
            </div>
            <div class="col-md-12 item-total">
                Total
                <br>
                <span id="total" class="fs24" >
                    <%= render partial: 'shared/price_format', 
                               locals: { price: @product.price} %>
                </span>
            </div>
            <div class="col-md-12 no-padding mt45">
                <%= button_tag type: "button", 
                               class: "button button-submit", 
                               id:"add_to_cart_submit" do %>
                    <span class='glyphicon glyphicon-repeat spin hide-at-first'>
                    </span> 
                    Dodaj u korpu 
                    <span class="glyphicon glyphicon-shopping-cart fs14"></span>
                <% end %>
            </div>
            <div class="col-md-12 item-description">
                <%= @product.description %>
            </div>
        </div>
    </div>
<%end%>