Zdravo <%= @order.ship_to_first_name %>,<br><br>

Uspešno ste naraučili proizvode na metraza-kasmir.rs<br>
Za sve detalje oko Vaše narudžbine i dostave kontaktirajte nas telefonom ili putem mejla koje možete naći na kontakt strani našeg vebsajta.<br>
Ovo je jedinstveni broj Vaše narudžbine: <%= @order.order_number %> <br><br>

Hvala Vam što kupujete kod nas,<br>
Vaša Metraža Kašmir