<div class="hide-at-first col-md-offset-3 col-md-6" id="forgot-pass-div">
  <%= form_for resource, as: resource_name, 
               url: password_path(resource_name), 
               html: { method: :post } do |f| %>
    <%= devise_error_messages! %>
    <div class="col-md-12 group-material mt18">
      <%= f.email_field :email, 
                        autofocus: true, 
                        class: "form-control input-material validation-password", 
                        #placeholder: "E-mail adresa",
                        required: true%>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>E-mail adresa</label>
    </div>
  
    <%= button_tag(class: "button button-submit pointer mt18", id: "btn-password") do %>
        <span class='glyphicon glyphicon-repeat spin hide-at-first'></span> 
        Zahtev za novu lozinku
    <% end %>
<% end %>

  <div class="mt18">
    <a href="#" class="mt18 link pointer" id="return-to-log">Niste zaboravili lozinku?</a>
  </div>
</div>