@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:300,400,500,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,700|Roboto+Slab:300,400,700&subset=latin-ext');
html{
    height: 100%;
}
body {
    //height: 600px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #42444c;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    display: flex;
      flex-direction: column;
}

/*NAVIGATION BAR*/

.navbar {
    height: 60px;
    width: 100%;
    color: #797979;
    font-size: 12px;
    border-bottom: 1px solid #f3f3f3;
    background: white;
    margin-bottom: 0 !important;
    transition: background 0.4s;
    left: 0;
    transition: left .3s;
}
.page-push-left
{
    left: 270px !important;
}
.transparent-nav
{
    background: transparent;
    color: #ffffff;
    transition: background 0.4s;
}
.nav-container
{
    height: 100%;
    padding: 0 15px;
}
.nav-section
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    position: relative;
}
.nav-section > ul
{
    margin:0;
    height: 100%;
    font-size: 0;
}
.nav-section > ul > li
{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    font-size: 12px;
}
.nav-section ul li a
{
    margin-right: 15px;
    font-family:'Questrial', sans-serif;
    transition: all .2s;
    display: block;
}

.nav-section ul li a:hover, 
.nav-section ul li a:focus
{
    color: #397ebb;
    transition: all .3s;
}
.menu-section ul li
{
    display: block;
    line-height: 18px;
}
.menu-section ul li a
{
    font-family:'Lato', sans-serif;
    color: #999;
    font-size: 14px;
    display: block;
}
.menu-section ul li a:hover
{
    text-decoration: underline !important;
}
.logo2
{
    font-size: 14px;
    color: #afafaf;
    position: absolute;
    bottom: 0px;
    right: -17px;
}
.invert-logo2
{
    color: #d7d7d7;
}

.navbar-brand {
    position: relative;
    float: none;
    display: inline-block;
    padding: 0;
    padding-top: 17px;
    font-size: 20px;
    color: black !important; 
    font-family: 'Marcellus SC', serif !important;
    transition: color .4s;
}
.navbar-brand:hover
{
    color: #cacaca !important;
    transition: color .3s;
}
.invert-navbar-brand
{
    color: white !important; 
}
.box-links
{
    padding: 10px 0;
    text-align: center;
    color: #397ebb;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    background: #f3f3f3;
    font-size: 13px;
    transition: all .2s;
}
.box-links:hover
{
    background: #397ebb;
    color: white;
    transition: all .3s;
}
.box-icon
{
    display: block;
    font-size: 24px;
    margin: 20px;
}
.box-links:hover .box-icon
{
    transition: all .4s;
}
.search-box
{
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    left: 0;
    padding: 5px;
    border: 1px solid #a7a7a7;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.search-btn-gl
{
    color: #a5a5a5;
    font-size: 14px;
    display: inline-block;
    margin-right: 24px;
}
.user-search
{
    border: none !important;
    box-shadow: none !important;
}
.mobile-nav-icons
{
    display: none;
    font-size: 24px;
    height: 100%;
}
/*------ Side Menu --------*/
#side-menu
{
    z-index: 1032;
    background: white;
    height: 100%;
    position: fixed;
    padding: 0 10px;
    overflow-y: scroll;
    width: 270px;
    top: 0;
    bottom: 0;
    left: -270px;
    transition: left .3s;
}
.side-menu-shade
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
    display: none;
    background: rgba(35, 35, 44, 0.3);
}
.side-menu-opened
{
    left: 0 !important;
}
.menu-search-wrap
{
    padding: 10px;
}
.menu-option-wrap
{
    padding: 10px 0 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4c4c4c;
    cursor: pointer;
}
.my-account-name
{
    text-transform: initial;
    float: right;
    color: #ababab;
    font-style: italic;
}
.m-submenu
{
    display: none;
    padding-left: 25px;
    color: gray;
    font-size: 13px;
}
.m-submenu > li
{
    padding: 5px 0;
}
/*------ Jumbotron --------*/
.jumbotron
{
    background: url(thread-1083461_1920.jpg) no-repeat center center;
    background-size: cover;
    height: 660px;
    z-index: -1;
    color: white;
    font-size: 34px;
    text-shadow: 2px 2px #000000;
    text-align: center;
    //padding: 10%;
}

.kasmir-container {
    padding: 50px 15px;
}

.kasmir-row {
    background: white;
    padding: 0 15px 50px 15px;
}

.page-head-sm {
    text-transform: uppercase;
    color: #757575;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 26px;
}

.checkout-step-head {
    font-size: 28px;
}

.current-page {
    color: #42444c;
}

.non-current-page {
    color: darkgray;
}

.alert-msgs {
    margin-top: 52px;
    display: none;
}
.alert
{
    margin-top: 80px;
}
.card {
    background-color: #f7f7f7;
    border-radius: 2px;
}

.light-text {
    font-size: 12px;
    color: gray;
}

.light-text-sm {
    font-size: 10px;
    color: gray;
}

ul {
    list-style-type: none;
    padding: 0;
}

.lw {
    font-weight: 300;
}

.ct {
    text-align: center !important;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.b {
    font-weight: bold;
}

.radio {
    margin-top: 0 !important;
}

a,
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none !important;
    color: inherit;
}

.hide-at-first {
    display: none;
}
.full-height
{
    height: 100%;
}
.opaque
{
    opacity: 0;
}
.mb22 {
    margin-bottom: 22px;
}
.mb5 {
    margin-bottom: 5px;
}
.mt4{
    margin-top: 4px;
}
.mt7 {
    margin-top: 7px;
}

.mt11 {
    margin-top: 11px;
}
.mt12 {
    margin-top: 12px;
}
.mt18 {
    margin-top: 18px;
}
.mt25 {
    margin-top: 25px;
}
.mt45 {
    margin-top: 45px;
}

.mr40 {
    margin-right: 40px;
}
.mr6{
    margin-right: 6px;
}
.ml70{
    margin-left: 70px;
}
.fs10 {
    font-size: 10px !important;
}

.fs12 {
    font-size: 12px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fs16 {
    font-size: 16px !important;
}

.fs18 {
    font-size: 18px !important;
}

.fs20 {
    font-size: 20px !important;
}

.fs24 {
    font-size: 24px !important;
}
.fs34 {
    font-size: 34px !important;
}
.no-mb {
    margin-bottom: 0 !important;
}

.no-padding {
    padding: 0 !important;
}
.pdg5
{
    padding: 5px !important;
}
.pb10 {
    padding-bottom: 10px !important;
}
.pt50
{
    padding-top: 50px;
}

.b-line {
    border-bottom: 1px solid lightgray;
}

.t-line {
    border-top: 1px solid lightgray;
}

.info-label {
    font-size: 14px;
    font-weight: 300;
    color: gray;
}

.cool-border {
    border-bottom: 2px solid #397ebb;
}

.hv-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.va-parent-height_84 {
    height: 84px;
}

.va-parent-height_66 {
    height: 66px;
}

.va-parent {
    white-space: nowrap;
}

.va-child {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.va-helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.ellipsis {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

textarea {
    resize: none;
}

.img-prev {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2;
    height: 250px;
    width: 250px;
}

.img-prev-wrap {
    position: relative;
    height: 260px;
    width: 260px;
    background: #f5f5f5;
}

.img-placeholder {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 250px;
    width: 250px;
}
.capstext
{
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}

.mouse {
    cursor: default;
}

.no-margin {
    margin: 0;
}

.gly-fix {
    top: 3px;
    left: 1px;
    font-size: 9px;
}

#map {
    width: 100%;
    height: 300px;
    border: 1px solid #a5a5a5;
}

#map:hover {
    border: 1px solid #397ebb;
}

.contact-box {
    margin-top: 45px;
    margin-bottom: 45px;
    background: #f5f5f5;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
}

.img-article-main {
    border-right: 1px solid lightgray;
}

.img-article-prev {
    border-radius: 3px;
    height: 100%;
    width: 100%;
}

.img-color-block {
    padding: 3px;
}

.img-radius {
    border-radius: 3px;
}
.item-description
{
    color:#848484;
    margin-top: 45px;
}
.item-card {
    border-bottom: 1px solid #e8e8e8;
    background: white;
    padding: 15px 0;
    transition: border .3s;
    height: 500px;
    margin-bottom: 18px;
}

.choose-box
{
    font-weight: 300;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}
.item-total {
    margin-top: 45px;
    text-align: center;
    padding: 5px;
    font-weight: 300;
    font-size: 18px;
}

.item-title
{
    text-transform: uppercase;
    font-weight: 300;
}
.atc-input {
    height: 25px !important;
}

.atc-input input {
    font-size: 20px;
    font-weight: bold;
    background: #f9f9f9;
}
/*------------PAGINATION-------------------*/

.pagination
{
    font-size:16px;
    color: #397ebb;
}
.pagination .previous_page, .next_page
{
    margin:0 4px;
    padding:0 !important;
    background:none;
}

.pagination a[rel="next"], a[rel="prev"]
{
    padding: 0 10px;
    border-radius: 18px;
}
.pagination a[rel="next"]:hover, a[rel="prev"]:hover, a[rel="next"]:focus, a[rel="prev"]:focus
{
    background: rgba(57, 126, 187, 0.6);
    color: white;
}
.pagination .previous_page:hover, .next_page:hover, .previous_page:focus, .next_page:focus
{
    background:transparent !important;
    opacity:0.7;
    color:inherit !important;
}
.pagination .current
{
    padding: 0 11px 0 10px;
    border-radius: 18px;
    background: #f2f2f2;
    font-style: normal;
}
.pagination .disabled span, .disabled
{
    color: lightgray;
}
.pagination .disabled span:hover
{
    opacity:1 !important;
    color: lightgray !important;
}
.pagination .disabled:hover
{
    opacity:1 !important;
    color: lightgray !important;
}
/*------------ORDER STATUS-------------------*/

.os-label {
    color: white;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.0);
    transition: all .5s;
}
.os-label-dim:hover
{
    opacity:0.7;
}
.os-label-orange {
    background: rgba(255, 165, 0, 0.8);
}

.os-label-blue {
    background: rgba(0, 82, 210, 0.7);
}

.os-label-red {
    background: rgba(228, 0, 0, 0.7);
}

.os-label-green {
    background: rgba(0, 128, 0, 0.7);
}

.status-wrap {
    padding: 0 65px;
}


/*------------MODALS-------------------------*/

.modal-dialog {
    width: 300px !important;
    margin-left: calc(50% - 150px) !important;
}

.modal-header {
    background: #f5f5f5 !important;
    border-radius: 6px !important;
}

.modal-item {
    padding: 6px;
    border-bottom: 1px solid lightgray;
}

.mt34 {
    margin-top: 34px;
}

.button-upload {
    border: 1px solid #397ebb;
    padding: 5px 40px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 400;
}

.page-head-xs {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
}


/*------------INPUT FIELDS-------------------*/
.input-material
{
    color: #397ebb;
    font-weight: bold;
}
.group-material label 				 
{
  font-size: 14px;
  color: #959595;
  font-weight: 300;
  position: absolute;
  pointer-events: none;
  top: 3px;
  left: 20px;

  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.input-material:focus ~ label, .input-material:valid ~ label 		
{
  font-size: 12px;
  color: #397ebb;
  font-weight: normal;
  top: -13px;
  left: 15px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
/* BOTTOM BARS ================================= */
.bar
{ 
    position: relative;
    display: block;
    width: 100%; 
    
}
.bar:before, .bar:after 	{
  content:'';
  height: 1px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #397ebb; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.input-material:focus ~ .bar:before, .input-material:focus ~ .bar:after {
  width:50%;
}


/* active state */
.input-material:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.form-control,
.form-control:focus {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0px;
    height: 28px;
    padding: 0;
}

/*.form-control:focus {
    box-shadow: -1px 4px 12px -6px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #397ebb;
}*/
.input-label
{
    font-size: 12px;
    color: #adadad;
    display: block;
    line-height: 0.7;
}

.search-btn
{
    position: absolute;
    left: -7px;
    top: 9px;
    color: #a5a5a5;
    font-size: 12px;
}
.clearable {
    background: #fff image_url('xbtn.gif') no-repeat right -10px center;
    transition: background 0.4s;
}

.clearable.x {
    background-position: right 5px center;
}

.clearable.onX {
    cursor: pointer;
}

.clearable::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}


/*------------MESSAGES-----------------------*/

.msgs {
    height: 52px;
    font-size: 22px;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding-top: 10px;
}

.success-msgs {
    background-color: rgba(67, 177, 67, 0.78);
}

.alert-msgs {
    background-color: rgba(197, 44, 44, 0.64);
}


/*--------------BUTTONS-----------------------*/

/*Fixing up default browser buttons*/
button
{
    border: none;
    background: transparent;
}

button:focus {
    outline: none;
}

.button {
    height: 52px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 2px;
    border: none;
    width: 100%;
    cursor: pointer;
}
.button-disabled
{
    background: #397ebb;
    color: white;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.0);
    opacity: 0.4;
    cursor: not-allowed !important;
}
.button-submit {
    background: #397ebb;
    color: white;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.0);
    transition: all .5s;
}

.button-submit:hover {
    opacity: 0.8;
    transition: all .3s;
}

.button-default {
    background: whitesmoke;
    color: #42444c;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.4);
}
.spin {
    -animation:spin 1s infinite linear;
    -webkit-animation:wk-spin 1s infinite linear;
}

@-webkit-keyframes wk-spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.link:hover {
    color: #397ebb;
}

.under-link {
    color: #397ebb !important;
}

.under-link:hover {
    text-decoration: underline !important;
}

.link-c {
    color: #397ebb;
}

.textarea-control {
    height: auto;
    border: 1px solid #a5a5a5;
    padding: 5px;
}

.textarea-control:focus {
    height: auto;
    padding: 5px;
    border: 1px solid #397ebb;
}

.action-button {
    border-radius: 15px;
    padding: 3px 20px;
    background: #397ebb;
    color: white !important;
    transition: all .3s;
}

.action-button:hover {
    cursor: pointer;
    background: rgba(57, 126, 187, 0.8);
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.4);
    margin-right: 1px;
    transition: all .15s;
}

.img-button {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;
    height: 250px;
    width: 250px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
}

.btn-wrap-circle {
    border: 2px solid white;
    border-radius: 75px;
    height: 150px;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    top: 74px;
    transition: border .1s;
}

.btn-wrap-circle:hover {
    border: 8px solid white;
    transition: all .1s;
}

.btn-wrap-circle-remove {
    border: 2px solid white;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 2px;
    transition: border .1s;
}

.btn-wrap-circle-remove:hover {
    border: 3px solid white;
    top: 1px;
}

.button-delete-product {
    padding: 10px 10px 9px 9px;
    border-radius: 18px;
    cursor: pointer;
    transition: all .3s;
}

.button-delete-product:hover {
    background: #397ebb;
    padding: 10px 10px 9px 9px;
    border-radius: 18px;
    color: white;
    transition: all .2s;
}

.cart-remove-prod {
    cursor: pointer;
    transition: all .3s;
}

.cart-remove-prod:hover {
    padding: 5px;
    background: #397ebb;
    color: white;
    border-radius: 11px;
    transition: all .2s;
}

.inline {
    display: inline;
}

.d-block {
    display: block;
}


/*-----------DROPDOWN-------------*/

.dropdown {
    padding-top: 7px;
    padding-left: 0;
    margin-top: -2px;
}

.dropdown-toggle {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 3px 44px;
    cursor: pointer;
    color: #757575;
}

.dropdown-menu {
    margin-top: 4px;
    max-width: 220px;
    max-height: 320px;
    overflow: auto;
}

.dropdown-menu-a {
    padding: 3px 12px !important;
}

.divider {
    margin: 0 !important;
}


/*Scroll bar-----------*/

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #edeeef;
    border-radius: 2px;
}

.scrollbar::-webkit-scrollbar {
    width: 4px;
    background-color: white;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 2px;
}


/*--------------CART SECTION------------------*/

.cart-widget
{
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    left: 0;
    padding: 15px;
    color: #aeaeae;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.3);
    font-size: 14px;
}
.cart-widget-content > span
{
    margin-top: 5px;
    display: block;
}
#cart-widget-dismiss
{
    position: absolute;
    right: 4px;
    top: 4px;
    color: #cecece;
    font-size: 12px;
}
#cart-widget-dismiss:hover
{
    color: #a1a1a1;
}
.cart-action-button
{
    background: #397ebb;
    color: white;
    margin-top: 22px;
    transition: all .2s;
}
.cart-action-button:hover
{
    opacity: 0.8;
    transition: all .3s;
}
.cart-link
{
    display: block;
    padding: 8px;
}
.cart-indicator {
    position: absolute;
    bottom: 12px;
    right: 4px;
    background: transparent;
    color: #ec4c4c;
    font-size: 12px;
}

.cart-section {
    margin-top: 22px;
}

.cart-list-head {
    padding: 15px 15px;
    border-bottom: 1px solid lightgray;
}

.cart-list-item {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
}
.image{
    cursor: default;
}

.item-image {
    border-radius: 3px;
    display: block;
}

.cart-item-image {
    height: 84px;
    width: 84px;
}

.summary-item-image {
    height: 42px;
    width: 42px;
}

.post-exp {
    font-size: 14px;
    padding-top: 4px;
}

.cart-submit-wrap {
    padding: 15px;
}

.types-of-accounts {
    margin-top: 32px;
    font-size: 16px;
    padding-bottom: 32px;
    margin-bottom: 42px;
    border-bottom: 1px solid lightgray;
}

.purchase-summary {
    background: #f5f5f5;
    border-radius: 5px;
}

.summary-block {
    padding: 42px;
    font-size: 16px;
}

.summary-box {
    margin: 36px 0;
    padding: 34px;
    background: #f5f5f5;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgba(67, 177, 67, 0.78);
}

.load:active::after {
    width: 100%;
    transition: width 1s;
}

.load::after {
    position: absolute;
    top: 51px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #397ebb;
}
.product-null-state
{
    font-size: 24px;
    border: 1px solid lightgrey;
    color: gray;
    border-radius: 5px;
    width: 100%;
    padding: 15% 0;
    text-align: center;
}

/*-------------FOOTER-----------------------*/

.content-wrap {
    /*min-height: 100%;
    position: relative;
    margin: 0 auto -150px;
    left: 0;
    transition: left .3s;*/
    flex: 1 0 auto;
}
/*
.footer,
.push {
    height: 150px;
}*/

.footer
 {
    background: #1d2b3a;
    position: relative;
    z-index: 3;
    color: #dadada;
    padding: 60px 0 20px 0;
}
.footer-brand
{
    font-size: 26px;
    color: white !important; 
    font-family: 'Marcellus SC', serif !important;
    transition: color .4s;
}
.footer-brand:hover
{
    color: #cacaca !important;
    transition: color .3s;
}
.footer-logo2 {
    font-size: 16px;
    color: #afafaf;
    display: block;
    line-height: 0.2;
}

/*------------ANIMATIONS--------------------*/

#tot-price {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/*---button animation---*/

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #397ebb;
    position: relative;
    z-index: 2;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.cool-link-active::after {
    content: '';
    display: block;
    height: 2px;
    position: relative;
    z-index: 2;
    background: #397ebb;
}


/*button hover color change*/

.button-submit:hover {
    background: rgba(57, 126, 187, 0.8);
    transition: background .3s;
}


/*------------SLIDER STUFF-------------------*/
.out-of-stock_img-label
{
    color: #d11919;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 3;
    top: 0px;
    width: 100%;
    text-align: center;
}
.relative
{
    position: relative;
}
/*custom*/
.lslide img 
{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}
/*.lSPager
{
    width: auto !important;
}*/
.lSPager img
{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

.lightSlider {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
}

.lightSlider li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer;
}

.lightSlider img {
    display: block;
    height: auto;
    max-width: 100%;
}

/*Catalog*/
.catalog-menu
{
    padding: 18px;
    background: #ffffff;;
    width: 100%;
    text-transform: initial;
    text-align: initial;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    border-bottom: 1px solid #bfbfbf;
    display: none;
    color: #999 !important;
    left: 0;
    top: 60px;
    right: 0;
    transition: color .2s;
}
.catalog-list-head
{
    font-size: 20px;
    margin: 18px 0;
    padding-bottom: 5px;
    color: inherit;
    border-bottom: 1px solid #dedede;
    transition: color .3s;
}
.catalog-sub-menu
{
    max-height: 300px;
    overflow: auto;
}
.subcat {
    display: block;
    color: inherit;
    font-size: 14px;
    transition: color .2s;
}
.subcat:hover, .catalog-list-head:hover
{
    color: white;
    transition: color .3s;
}

#close-catalog
{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    color: #d5d5d5;
    cursor: pointer;
    transition: color .2s;
}
#close-catalog:hover
{
    transition: color .3s;
    color:#ebebeb;
}
.cat-card-details {
    line-height: 1.2;
    margin-top: 6px;
    height: 69px;
    border: 1px solid white;
    padding: 5px 15px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    transition: all .2s;
}

.card-details-btn
{
    border: 1px solid #397ebb;
    border-radius: 3px;
    transition: all .3s;
}
.card-details-btn:hover
{
    border: 1px solid #397ebb;
    border-radius: 12px;
    background: #397ebb;
    color: white;
    transition: all .3s;
}

.noPager {
    margin-bottom: 39px;
}



.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lightSlider:before,
.lightSlider:after {
    content: " ";
    display: table;
}

.lightSlider {
    overflow: hidden;
    margin: 0;
}

.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.lSSlideWrapper>.lightSlider:after {
    clear: both;
}

.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform, height;
    -moz-transition-property: -moz-transform, height;
    transition-property: transform, height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade {
    position: relative;
}

.lSSlideWrapper .lSFade>* {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}

.lSSlideWrapper.usingCss .lSFade>* {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade>*.active {
    z-index: 10;
}

.lSSlideWrapper.usingCss .lSFade>*.active {
    opacity: 1;
}


/** /!!! End of core css Should not edit !!!/**/


/* Pager */

.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}

.lSSlideOuter .lSPager.lSpg>li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}

.lSSlideOuter .lSPager.lSpg>li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

.lSSlideOuter .lSPager.lSpg>li:hover a,
.lSSlideOuter .lSPager.lSpg>li.active a {
    background-color: #428bca;
}

.lSSlideOuter .media {
    opacity: 0.8;
}

.lSSlideOuter .media.active {
    opacity: 1;
}


/* End of pager */


/** Gallery */

.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}

.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}

.lSSlideOuter .lSPager.lSGallery:before,
.lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}

.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}


/* End of Gallery*/


/* slider actions */

.lSAction>a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: image_url('controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}

.lSAction>a:hover {
    opacity: 1;
}

.lSAction>.lSPrev {
    background-position: 0 0;
    left: 10px;
}

.lSAction>.lSNext {
    background-position: -32px 0;
    right: 10px;
}

.lSAction>a.disabled {
    pointer-events: none;
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */

.lSSlideOuter {
    /*height: 360px;*/
}

.lSSlideOuter.vertical {
    position: relative;
}

.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}

.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}

.lSSlideOuter.vertical .lightSlider>* {
    width: 100% !important;
    max-width: none !important;
}


/* vertical controlls */

.lSSlideOuter.vertical .lSAction>a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}

.lSSlideOuter.vertical .lSAction>.lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}

.lSSlideOuter.vertical .lSAction>.lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}


/* vertical */


/* Rtl */

.lSSlideOuter.lSrtl {
    direction: rtl;
}

.lSSlideOuter .lightSlider,
.lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}

.lSSlideOuter.lSrtl .lightSlider,
.lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}

.lSSlideOuter .lightSlider>*,
.lSSlideOuter .lSGallery li {
    float: left;
}

.lSSlideOuter.lSrtl .lightSlider>*,
.lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}


/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }
    50% {
        left: -15px;
    }
    100% {
        left: 0;
    }
}

@keyframes rightEnd {
    0% {
        left: 0;
    }
    50% {
        left: -15px;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }
    50% {
        top: -15px;
    }
    100% {
        top: 0;
    }
}

@keyframes topEnd {
    0% {
        top: 0;
    }
    50% {
        top: -15px;
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }
    50% {
        left: 15px;
    }
    100% {
        left: 0;
    }
}

@keyframes leftEnd {
    0% {
        left: 0;
    }
    50% {
        left: 15px;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }
    50% {
        bottom: -15px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes bottomEnd {
    0% {
        bottom: 0;
    }
    50% {
        bottom: -15px;
    }
    100% {
        bottom: 0;
    }
}

.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}

.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}

.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}

.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}

.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}

.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}


/*/  GRab cursor */

.lightSlider.lsGrab>* {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.lightSlider.lsGrabbing>* {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}


/*------------ADMIN PAGES-----------------*/

.admin-item-image {
    height: 66px;
    width: 66px;
}
.list-item:hover
{
    border-left: 8px solid #397ebb;
    border-right: 8px solid #397ebb;
    transition-duration: .1s ease;
    transition-property: all;
    transition-delay: .1s;
}
.list-item
{
    border-left: 0 solid #397ebb;
    border-right: 0 solid #397ebb;
    transition-delay: 4s;
    transition: all .2s ease;
}
.order-item:hover {
    background: #fcfcfc;
    color: black;
    transition-duration: .1s ease;
    transition-property: all;
    transition-delay: .1s;
}

.order-item {
    background: #fff;
    color: inherit;
    transition-delay: 4s;
    transition: all .2s ease;
}


/*------------izmeni artikal--------------------*/

.img-box-wrap {
    padding: 5px 10px 5px 0;
}

.img-box {
    position: relative;
}

.img-box img {
    border-radius: 5px;
}

.img-title {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #f2f2f2;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 5px;
}

.img-options {
    position: absolute;
    top: 0;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

.remove-img {
    right: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #f2f2f2;
    background: rgba(0, 0, 0, 0.7);
    transition: all .2s;
}

.remove-img:hover {
    color: rgba(0, 0, 0, 0.7);
    background: rgba(255, 255, 255, 0.6);
    transition: all .2s;
}

.remove-img-active {
    color: rgb(197, 44, 44);
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid;
    transition: all .2s;
}

.stock {
    left: 0;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.stock-inactive {
    color: #f2f2f2;
    background: rgba(0, 0, 0, 0.7);
    transition: all .2s;
}

.stock-inactive:hover {
    color: rgba(0, 0, 0, 0.7);
    background: rgba(255, 255, 255, 0.6);
    transition: all .2s;
}

.stock-active {
    color: rgb(67, 177, 67);
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid;
    transition: all .2s;
}

//PLACEHOLDER STYLE
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-weight: 300 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-weight: 300 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-weight: 300 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-weight: 300 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   font-weight: 300 !important;
}

//----------- Center --------------
.center-content
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
    }

