// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subcategory 
{
    display: none;
}
.sub_label 
{
    display: none;
}
.dr-main-cat
{
    border-top: 1px solid #397ebb;
    border-bottom: 1px solid #397ebb;
}
/*------------ADMIN PAGES-----------------*/
.admin-item-image
{
    height: 66px;
    width: 66px;
}
.admin-item:hover
{
    background: #fcfcfc;
    color: black;
    border-left: 8px solid #397ebb;
    border-right: 8px solid #397ebb;
    transition-duration: .1s ease;
    transition-property: all;
    transition-delay: .1s;
}
.admin-item
{
    background: #fff;
    color: inherit; 
    border-left: 0 solid #397ebb;
    border-right: 0 solid #397ebb;
    transition-delay: 4s;
    transition: all .2s ease;
}

