/*TABLET AND PHONE SIZE*/

@media screen and (max-width: 991px)
{
    .nav-container
    {
        padding: 0 !important;
    }
    nav > .container
    {
        margin: 0 !important;
        width: 100% !important;
    }
    .nav-section
    {
        display: none;
    }
    .mobile-nav-icons
    {
        display: block !important;
    }
    .logo-wrap
    {
        text-align: center;
    }
    .mobile-nav-icons > span, .mobile-nav-icons > a
    {
        display: inline-block;
        height: 100%;
        padding: 18px 0;
    }
    .item-card 
    {
        height: auto;
    }
    .button-default, .cart-section
    {
        margin-top: 10px;
    }
    .form-control
    {
        margin-top: 15px;
    }
    .page-head-sm
    {
        font-size: 18px;
    }
    .col-name
    {
        display: none;
    }
    .card
    {
        margin-top: 28px;
    }
    .cart-item-image
    {
        height: 100%;
        width: 100%;
        margin-bottom: 16px;
    }
    .cart-list-item
    {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 20px;
    }
    .cart-list, .cart-section
    {
        padding: 0;
    }
    .kasmir-container
    {
        padding: 50px 15px 0 15px;
    }
    .kasmir-row
    {
        padding: 0 15px 0px 15px;
    }
    .success-msgs
    {
        font-size: 17px;
    }
    .summary-block
    {
        padding: 20px;
    }
    .msgs
    {
        border-radius: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-top: 13px;
    }
    .purchase-summary
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .product-image
    {
        display: none;
    }
}

/*LAPTOP AND DESKTOP SIZE*/
@media screen and (min-width: 992px)
{
    .logo-wrap
    {
        text-align: left;
    }
}