<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-danger" %>
<% end %>
<div class="col-md-12 ct page-head-sm">
    <h3>Izmeni proizvod</h3>
</div>
<%= form_for @product, html: { multipart: true } do |f| %>
<%= hidden_field_tag 'page', @page  %>
<div class=" col-md-4">
    <div class="col-md-12 mt12">
      <span class="input-label">naziv:</span>
      <%= f.text_field :name, 
          class: "form-control fs16 link-c b validation-product", 
          placeholder: "Ime proizvoda" %>
    </div>
    <div class="col-md-6 mt12">
        <span class="input-label">cena:</span>
        <%= f.text_field :price, 
        class: "form-control fs16 link-c b validation-product", 
        placeholder: "Cena proizvoda", 
        data: {autonumeric: {vMin: 0.00, aSep: ' '}} %>
    </div>
    <div class="col-md-6 mt12">
        <span class="input-label">šifra:</span>
        <%= f.text_field :sku, 
        class: "form-control fs16 link-c b validation-product", 
        placeholder: "Šifra proizvoda" %>
    </div>
    <div class="col-md-12 mt18">
        <span class="input-label mb5">merna jedinica:</span>
        <div class="col-md-6 radio no-mb no-padding">
            <label><%= f.radio_button :piece, false %>po metru</label>
      </div>
      <div class='col-md-6 radio no-mb'>
        <label><%= f.radio_button :piece, true %>po komadu</label>
      </div>
    </div>
    <div class='col-md-12 mt18'>
      <span class="input-label mb5">potkategorija:</span>
      <div class='col-md-12 dropdown'>
        <%= f.collection_select :subcategory_id, @subcategories, :id, :name, prompt: true %>
         </div>
    </div>
    <div class='col-md-12 mt25'>
      <span class="input-label mb5">opis:</span>
      <%= f.text_area :description, rows: 4, cols: 51, 
      placeholder:'Opis proizvoda ...', 
      class:'scrollbar form-control textarea-control' %> 
    </div>
    <div class="col-md-12 mt18">
      <span class="input-label mb5">slike:</span>
        <label class="button-upload">
          <%= file_field_tag "images[]", type: :file, 
              multiple: true, 
              style: 'display:none', 
              class: 'upload_images' %>
            <span> Izaberi slike</span>
        </label><span id="number_of_images"></span>
    </div>
    <div class='cart-submit-wrap col-md-12 ct'>
      <%= button_tag(type: "submit", 
                     class: "button button-submit pointer", 
                     id: "btn-product") do %>
          <span class='glyphicon glyphicon-repeat spin hide-at-first'></span> 
            Sačuvaj proizvod 
      <% end %>
    </div>
</div>
    
<div class="col-md-8">
  <% @product.attachments.each do |item| %>
    <div class="col-md-4 img-box-wrap">
        <div class="col-md-12 img-box no-padding">
          <%= image_tag(item.image.url(:large), 
              class: "image img-responsive") %>
            <div class="img-title ellipsis">
                <%= item.get_image_file_name %>
            </div>
            <span class="img-options stock stock-inactive glyphicon glyphicon-check"></span>
            <span class="img-options remove-img glyphicon glyphicon-trash"></span>
            
            <%= check_box :available, item.id, style:"display:none", checked: item.available %>
            <% if item.available %>
              <label for='available_<%= item.id %>' 
                     class="img-options stock stock-active glyphicon glyphicon-check"> 
              </label>
            <% else %>
              <label for='available_<%= item.id %>' 
                     class="img-options stock stock-inactive glyphicon glyphicon-check"> 
              </label>
            <%end%>
            <%= check_box :destroy, item.id, style:"display:none" %>
            <label for='destroy_<%= item.id %>' 
                   class="img-options remove-img glyphicon glyphicon-trash"> 
            </label>
            <%= hidden_field_tag :available_images %>
            <%= hidden_field_tag :destroy_images %>
        </div>
    </div>
    <%end%>
</div>
<%end%>


  <%#<% if @product.errors.any? %>
    <!--<div id="error_explanation">
      <h2><%#<%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <%#<% @product.errors.full_messages.each do |message| %>
        <li><%#<%= message %></li>
     <%# <% end %>
      </ul>
    </div>-->
  <%#<% end %>

  
   
  
  
    
 