<div class="col-md-12 ct page-head-sm">
    <h3>Lista proizvoda</h3>
</div>
<div class="col-md-12">
    <div class="col-md-3 dropdown ">
        <span class="dropdown-toggle" type="button" data-toggle="dropdown">
            <span id="filter"><%= @dropdown_filter %> </span><span class="caret"></span>
        </span>
        <ul id='menu' class="dropdown-menu scrollbar">
            <li class="divider"></li>
            <li><%= link_to 'Svi proizvodi', products_path(:all => 'all'), class:"ellipsis dropdown-menu-a" %></li>
            <% @categories.each do |cat|%>
                <li> <%= link_to products_path(:cat => cat.id) do %> 
                    <span class="ellipsis dropdown-menu-a"><%= cat.name %></span>
                     <%end%>
                </li>
                 <% cat.subcategories.each do |sub|%>
                    <%= link_to products_path(:sub => sub.id) do %> 
                    <li><span class="ellipsis dropdown-menu-a"><%= sub.name %></span></li>
                    <% end %>
                <% end %>
            <% end %>  
        </ul>
    </div>
    <div class="col-md-3 col-md-offset-6">
        <span class="search-btn glyphicon glyphicon-search"></span>
        <%= form_tag( "/products", method: :get, name: "search_form") do %>
            <%= text_field_tag :search, @search, class: 'form-control clearable', placeholder: 'Pretraži proizvode...' %>
        <% end %>
    </div>
</div>
<div class="cart-list-head col-md-12 ct mt18">
    <div class="col-md-1">
        <!--IMAGE-->
    </div>
    <div class="col-md-3">
        PROIZVOD
    </div>
    <div class="col-md-2">
       CENA
    </div>
    <div class="col-md-2">
        KATEGORIJA
    </div>
    <div class="col-md-2">
        ŠIFRA 
    </div>
    <div class="col-md-2">
        BRISANJE
    </div>
</div>

<% @products.each do |product| %>

<div class="cart-list-item list-item col-md-12">
    <%= link_to edit_product_path(product, :page => @products.current_page), class: "pointer" do %>
        <div class="col-md-1">
            <%= image_tag(product.show_image, class: "image item-image admin-item-image") %>
        </div>
        <div class="col-md-3 va-parent va-parent-height_66 ct">
            <div class="va-child under-link b underlink">
                <%= product.name %>
            </div><div class="va-helper"></div>
        </div>
        <div class="col-md-2 va-parent va-parent-height_66 ct">
            <div class="va-child">
                <%= render partial: 'shared/price_format', 
                    locals: {price: product.price} %> 
                <br>
                <span class="light-text"><%= product.get_measure_type %></span> 
            </div><div class="va-helper"></div>
        </div>
        <div class="col-md-2 va-parent va-parent-height_66 ct">
           <div class="va-child">
             
               <%= product.get_subcategory_name %>
              
               <br>
               <span class="light-text"><%= product.get_category_name %></span>  
           </div><div class="va-helper"></div>
        </div>
        <div class="col-md-2 va-parent va-parent-height_66 ct">
            <div class="va-child">
            <%= product.sku %>
            </div><div class="va-helper"></div>
        </div>
    <%end%>
        <div class="col-md-2 va-parent va-parent-height_66 ct">
            <div class="va-child">
                <span class="glyphicon glyphicon-trash button-delete-product" data-toggle="modal" data-target="#btn-remove-prod<%=product.id%>"></span>
            </div><div class="va-helper"></div>
        </div>
</div>

<!-- Delete product modal -->
<div class="modal fade" id="btn-remove-prod<%=product.id%>" tabindex="-1" role="dialog" aria-labelledby="btn-remove-prod">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title ct" id="btn-remove-prod">Brisanje proizvoda</h4>
      </div>
      <div class="modal-body ct">
           Da li ste sigurni da želite da obrišete?
           </br>
           <span class="link-c b"><%= product.name %></span> 
      </div>
      <div class="modal-footer">
         <%= button_to 'Obriši', product, method: :delete, class: "btn btn-danger", form_class: 'inline' %>
         <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
      </div>
    </div>
  </div>
</div>
<%end%>
<div class="col-md-12">
    <div class="col-md-offset-9 col-md-3 mt18 ct">
      <%= link_to new_product_path, class: 'action-button' do %> <%#action-button%>
            <span class="glyphicon glyphicon-plus fs10"></span> Dodaj proizvod  
        <%end%>
    </div>
</div>
<div class="col-md-12 ct">
    <%= will_paginate @products, :previous_label => '<span class="glyphicon glyphicon-arrow-left"></span> Prethodna', :next_label => 'Sledeća <span class="glyphicon glyphicon-arrow-right"></span>' %>
</div>

