<div class='col-md-12 ct page-head-xs'>
  <h3>Dodaj novi proizvod</h3>
</div>
<%= form_for @product, html: { multipart: true } do |f| %>
  <div class=' col-md-4 col-md-offset-4'>
    <div class="col-md-12 group-material mt18">
    <%= f.text_field :name, 
                class: 'form-control fs16 input-material validation-product', 
                #placeholder: 'Ime proizvoda',
                required: true%>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Ime proizvoda</label> 
    </div>
    <div class="col-md-6 group-material mt18">
      <%= f.text_field :price,
                  class:'form-control fs16 input-material validation-product', 
                  type:'number', 
                  #placeholder:'Cena proizvoda',
                  required: true%>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Cena proizvoda</label> 
    </div>
    <div class="col-md-6 group-material mt18">
      <%= f.text_field :sku, 
                  class:'form-control fs16 input-material validation-product', 
                  #placeholder:'Šifra proizvoda',
                  required: true%>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Šifra proizvoda</label>
    </div>
    <div class='col-md-12 mt18'>
      <div class='col-md-6 radio no-mb'>
        <label><%= f.radio_button :piece, false, checked: 'checked' %>po metru
        </label>
      </div>
      <div class='col-md-6 radio no-mb'>
        <label><%= f.radio_button :piece, true %>po komadu</label>
      </div>
    </div>
    <div class='col-md-12 mt18'>
      <div class='col-md-12 dropdown'>
        <%= f.collection_select :subcategory_id, @subcategories, :id, :name, prompt: true %>
      </div>
    </div>
    <div class='col-md-12 mt34'>
      <%= f.text_area :description, rows: 4, cols: 51, 
      placeholder:'Opis proizvoda ...', class:'scrollbar form-control textarea-control' %> 
    </div>
    <div class='col-md-12 mt18'>
      <label class='button-upload'>
        <%= file_field_tag 'images[]', type: :file, multiple: true, style: 'display:none' %>
        <span> Izaberi slike</span>
      </label>
    </div>
    <div class='cart-submit-wrap col-md-12 ct'>
      <%= button_tag(class: "button button-submit pointer", id: "btn-product") do %>
        <span class='glyphicon glyphicon-repeat spin hide-at-first'></span> 
        Sačuvaj proizvod
      <% end %>
    </div>
  </div>
<% end %>   