<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= render partial: 'shared/price_format', locals: { price: product.price} %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<% for item in @product.attachments %>
<%= image_tag(item.image.url(:thumb), class: "image") %>
<% end %>
<span id="chosen"></span>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
