<!DOCTYPE html>
<html>
  <head>
    <title>Kašmir | Metraža</title>
      <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=0">
    <meta charset="UTF-8">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag "icons/favicon.ico" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <%= render partial: 'shared/navigation' %>
    <div class="content-wrap">
      <span id="root" style="display:none"><%= current_page?(root_url) %></span>
      <% if current_page? (root_url) %>
      <div class="jumbotron center-content">
        <div>
          Veliki izbor modne i dekorativne tkanine
          <span class="fs20 d-block mt18">Italijanski kvalitet</span>
        </div>
      </div>
      <% end %>
      <div class="container kasmir-container">
        <div class="row kasmir-row" >
          
          <%= render partial: 'shared/flash_notice' %>
          <%= yield %>
          <!-- User Modal -->
          <% if current_user %>
          <% if current_user.admin %>
            <%= render partial: 'shared/admin_modal' %>
            
          <% else %>
            <%= render partial: 'shared/user_modal' %>
            <% end %>
          <!-- Admin Modal -->
          
            <%end%>
          
        </div>
      </div>
      
      <div class="push"></div>
    </div>
    <footer class="footer">
      <div class="ct">
        <%= link_to root_path, class:"footer-brand" do%>
          KAŠMIR
          <span class="footer-logo2">metraža</span>
        <% end %>
      </div>
      <div class=" fs20 ct mt18">
        <a href="https://www.facebook.com/metrazakasmir" target="_blank"> 
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
      </div>

        <div class="col-md-12 ct mt25 fs10" style="color:#b1b1b1">
          Copyright © 
          <script language="javascript" type="text/javascript">
            var today = new Date()
            var year = today.getFullYear()
            document.write(year)
          </script>
          Metraža Kašmir. Sva prava zadržana.
        </div>

     
    </footer>
  </body>
</html>
