<%= form_for resource, as: resource_name, 
             url: registration_path(resource_name), 
             html: {novalidate: true} do |f| %>

  <%= hidden_field_tag 'flag', @flag %>
  <div class="col-md-12">
    <div class="col-md-4">
        Lični podaci:
    </div>
    <div class="col-md-4 radio">
        <label><%= f.radio_button :company, false, checked: "checked" %>Fizičko lice</label>
    </div>
    <div class="col-md-4 radio">
        <label><%= f.radio_button :company, true %>Pravno lice</label>
    </div>
  </div>

  <div class="col-md-12 hide-at-first mt18" id="company">
    <%= f.fields_for :company_data, CompanyData.new do |cd| %>
      <div class="col-md-4 group-material">
        <%= cd.text_field :company_name, 
                          autofocus: true, 
                          class: "form-control input-material company-register", 
                          #placeholder: "*Naziv firme",
                          required: true%>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Naziv firme</label>
      </div>
      <div class="col-md-4 group-material">
        <%= cd.text_field :pib, 
                          autofocus: true, 
                          class: "form-control input-material company-register", 
                          #placeholder: "*PIB",
                          required: true%>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>PIB</label>
      </div>         
    <%end%>
  </div>

  <div class="mt18 col-md-12">
    <div class="col-md-4 group-material">
      <%= f.text_field :first_name, 
                       autofocus: true, 
                       class: "form-control input-material validation-register", 
                       #placeholder: "*Ime", 
                       required: true %>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Ime</label>
    </div>
    <div class="col-md-4 group-material">
      <%= f.text_field :last_name, 
                       autofocus: true, 
                       class: "form-control input-material validation-register", 
                       #placeholder: "*Prezime",
                       required: true%>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Prezime</label>
    </div>
    <div class="col-md-4 group-material">
      <%= f.text_field :phone_number, 
                       autofocus: true, 
                       class: "form-control input-material validation-register", 
                       #placeholder: "*Kontakt telefon",
                       required: true%>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Kontakt telefon</label>
    </div>
  </div>
  <div class="col-md-12 mt18">
    <div class="col-md-4 group-material">
      <%= f.text_field :address, 
                       autofocus: true, 
                       class: "form-control input-material validation-register", 
                       #placeholder: "*Adresa za pošiljku",
                       required: true%>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Adresa za pošiljku</label>
    </div>
    <div class="col-md-4 group-material">
      <%= f.text_field :city, 
                       autofocus: true, 
                       class: "form-control input-material validation-register", 
                       #placeholder: "*Grad",
                       required: true%>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Grad</label>
    </div>
    <div class="col-md-4 group-material">
      <%= f.text_field :postal_code, 
                       autofocus: true, 
                       class: "form-control input-material validation-register", 
                       #placeholder: "*Poštanski broj",
                       required: true%>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Poštanski broj</label>
    </div>
  </div>

  <div class="col-md-12 mt18" id="password-div">
    <div class="col-md-4 group-material">
      <%= f.email_field :email, 
                        autofocus: true, 
                        class: "form-control input-material validation-register", 
                        #placeholder:"*E-mail",
                        required: true,
                        :oninvalid => "setCustomValidity('Email mora imati @')", 
                        :oninput => "setCustomValidity('')"%>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>E-mail</label>
    </div>
    <div class="col-md-4 group-material">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, 
                           autocomplete: "off", 
                           class: "form-control input-material validation-register", 
                           #placeholder: "*Lozinka",
                           required: true%>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Lozinka</label>
    </div>
    <div class="col-md-4 group-material">
      <%= f.password_field :password_confirmation, 
                            autocomplete: "off",
                            class:"form-control input-material validation-register", 
                            #placeholder:"*Ponovite lozinku",
                            required: true%>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Ponovite lozinku</label>
    </div>
  </div>
  <div class="actions col-md-6 cart-submit-wrap">
    <%= button_tag(class: "button button-submit pointer ct mt18", 
                   id: "btn-register") do %>
      <span class='glyphicon glyphicon-repeat spin hide-at-first'></span> 
      Registruj se
    <% end %>
  </div>
  <div class="col-md-6 mt45">
    <span class="light-text">*Vaša e-mail adresa će biti vaše korisničko ime</span>
  </div>
<% end %>
