<div class="page-head-sm col-md-12">
  <h3>Moji Podaci</h3>
</div>
<%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
  <%= devise_error_messages! %>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-12">
      <div class="col-md-4">
          Lični podaci:
      </div>
      <div class="col-md-4 radio">
          <label>
            <%= f.radio_button :company, 
                               false, 
                               checked: current_user.company == false %>
              Fizičko lice
          </label>
      </div>
      <div class="col-md-4 radio">
          <label>
            <%= f.radio_button :company, 
                               true, 
                               checked: current_user.company == true %>
              Pravno lice
          </label>
      </div>
    </div>
  
    <div class="col-md-12 hide-at-first mt18" id="company">
      <%= f.fields_for :company_data do |cd| %>
        <div class="col-md-4">
          <%= cd.text_field :company_name, 
                            autofocus: true, 
                            class: "form-control link-c b company-data", 
                            placeholder: "*Naziv firme" %>
        </div>
        <div class="col-md-4">
          <%= cd.text_field :pib, 
                            autofocus: true, 
                            class: "form-control link-c b company-data", 
                            placeholder: "*PIB" %>
        </div>         
      <%end%>
    </div>
  
    <div class="mt18 col-md-12">
      <div class="col-md-4">
        <%= f.text_field :first_name, 
                         autofocus: true, 
                         class: "form-control link-c b validation-update-account", 
                         placeholder:"*Ime" %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :last_name, 
                         autofocus: true, 
                         class: "form-control link-c b validation-update-account", 
                         placeholder: "*Prezime" %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :phone_number, 
                         autofocus: true, 
                         class: "form-control link-c b validation-update-account", 
                         placeholder: "*Kontakt telefon" %>
      </div>
    </div>
    <div class="col-md-12 mt18">
      <div class="col-md-4">
        <%= f.text_field :address, 
                         autofocus: true, 
                         class: "form-control link-c b validation-update-account", 
                         placeholder: "*Adresa za pošiljku" %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :city, 
                         autofocus: true, 
                         class: "form-control link-c b validation-update-account", 
                         placeholder: "*Grad" %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :postal_code, 
                         autofocus: true, 
                         class: "form-control link-c b validation-update-account", 
                         placeholder: "*Poštanski broj" %>
      </div>
    </div>
  
    <div class="col-md-12 mt18" id="password-div">
      <div class="col-md-4">
        <%= f.email_field :email, 
                          autofocus: true, 
                          class: "form-control link-c b validation-update-account", 
                          placeholder:"*E-mail" %>
      </div>
      <div class="col-md-4">
        <%= f.password_field :password, 
                             autocomplete: "off", 
                             class: "form-control link-c b validation-update-account", 
                             placeholder: "*Lozinka" %>
      </div>
      <div class="col-md-4 ">
        <%= f.password_field :password_confirmation, 
                             autocomplete: "off", 
                             class:"form-control link-c b validation-update-account", 
                             placeholder:"*Ponovite lozinku" %>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-4">
  <%= button_tag(class: "button button-submit pointer ct mt25", 
                   id: "btn-update-account") do %>
      <span class='glyphicon glyphicon-repeat spin hide-at-first'></span> 
      Ažuriraj
  <% end %>
  </div>
  </div>

<% end %>
<div class="light-text ct mt18"><%= button_to "Ukoliko zelite da obrisete nalog kliknite ovde", registration_path(resource_name), data: { confirm: "Da li ste sigurni da zelite da obrisete Vas nalog?" }, method: :delete %></p>


<div class="actions col-md-6 col-sm-12 col-xs-12 cart-submit-wrap">
</div>
